yukon-client/common/src/com/cannontech/dr/itron/schema/ServicePointManager.wsdl

<?xml version="1.0"?>
<!-- root element wsdl:definitions defines set of related services -->
<wsdl:definitions name="ServicePointManager"
    targetNamespace="urn:com:ssn:dr:xmlschema:service:v1.3:ServicePointManager"
    xmlns:basicxsd="urn:com:ssn:dr:xmlschema:service:v1.1:BasicTypes.xsd"
    xmlns:location="urn:com:ssn:dr:xmlschema:service:v1.0:LocationTypes.xsd"
    xmlns:spm="urn:com:ssn:dr:xmlschema:service:v1.3:ServicePointManager"
    xmlns:spmxsd="urn:com:ssn:dr:xmlschema:service:v1.3:ServicePointManager.xsd" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="urn:com:ssn:dr:xmlschema:service:v1.3:ServicePointManager.wsdl" 
            targetNamespace="urn:com:ssn:dr:xmlschema:service:v1.3:ServicePointManager.wsdl"
            elementFormDefault="qualified">

            <xsd:import namespace="urn:com:ssn:dr:xmlschema:service:v1.3:ServicePointManager.xsd" schemaLocation="./ServicePointManagerTypes_v1_3.xsd"/>
       </xsd:schema>
    </wsdl:types>

    <wsdl:message name="AddServicePointRequest">
        <wsdl:part name="body" element="spmxsd:AddServicePointRequest"/>
    </wsdl:message>
    
    <wsdl:message name="AddServicePointResponse">
        <wsdl:part name="body" element="spmxsd:AddServicePointResponse"/>
    </wsdl:message>

    <wsdl:message name="EditServicePointRequest">
        <wsdl:part name="body" element="spmxsd:EditServicePointRequest"/>
    </wsdl:message>
    
    <wsdl:message name="EditServicePointResponse">
        <wsdl:part name="body" element="spmxsd:EditServicePointResponse"/>
    </wsdl:message>

    <wsdl:message name="GetServicePointEnrollmentRequest">
        <wsdl:part name="body" element="spmxsd:GetServicePointEnrollmentRequest"/>
    </wsdl:message>
    
    <wsdl:message name="GetServicePointEnrollmentResponse">
        <wsdl:part name="body" element="spmxsd:GetServicePointEnrollmentResponse"/>
    </wsdl:message>
    
    <wsdl:message name="ErrorFault">
        <wsdl:part name="fault" element="basicxsd:ErrorFault"/>
    </wsdl:message>

    <wsdl:portType name="ServicePointManagerPortType">    
    	<wsdl:operation name="addServicePoint">           
            <wsdl:input message="spm:AddServicePointRequest"/>
            <wsdl:output message="spm:AddServicePointResponse"/>
            <wsdl:fault name="ErrorFault" message="spm:ErrorFault"/>
        </wsdl:operation>    
    	<wsdl:operation name="editServicePoint">           
            <wsdl:input message="spm:EditServicePointRequest"/>
            <wsdl:output message="spm:EditServicePointResponse"/>
            <wsdl:fault name="ErrorFault" message="spm:ErrorFault"/>
        </wsdl:operation>  
        <wsdl:operation name="getServicePointEnrollment">           
            <wsdl:input message="spm:GetServicePointEnrollmentRequest"/>
            <wsdl:output message="spm:GetServicePointEnrollmentResponse"/>
            <wsdl:fault name="ErrorFault" message="spm:ErrorFault"/>
        </wsdl:operation>  
    </wsdl:portType>
 

	<wsdl:binding name="ServicePointManagerSoapBinding" type="spm:ServicePointManagerPortType">
	    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	    <wsdl:operation name="addServicePoint">
	        <soap:operation soapAction=""/>
	        <wsdl:input>
	            <soap:body use="literal"/>
	        </wsdl:input>
	        <wsdl:output>
	            <soap:body use="literal"/>
	        </wsdl:output>
	        <wsdl:fault name="ErrorFault">
	            <soap:fault name="ErrorFault" use="literal"/>
	        </wsdl:fault>   
	    </wsdl:operation>       
	    <wsdl:operation name="editServicePoint">
	        <soap:operation soapAction=""/>
	        <wsdl:input>
	            <soap:body use="literal"/>
	        </wsdl:input>
	        <wsdl:output>
	            <soap:body use="literal"/>
	        </wsdl:output>
	        <wsdl:fault name="ErrorFault">
	            <soap:fault name="ErrorFault" use="literal"/>
	        </wsdl:fault>   
	    </wsdl:operation>     
	    <wsdl:operation name="getServicePointEnrollment">
	        <soap:operation soapAction=""/>
	        <wsdl:input>
	            <soap:body use="literal"/>
	        </wsdl:input>
	        <wsdl:output>
	            <soap:body use="literal"/>
	        </wsdl:output>
	        <wsdl:fault name="ErrorFault">
	            <soap:fault name="ErrorFault" use="literal"/>
	        </wsdl:fault>   
	    </wsdl:operation>
    </wsdl:binding>


    <wsdl:service name="ServicePointManagerService">
        <wsdl:documentation>Itron Service Point Manager Service</wsdl:documentation> 
        <wsdl:port name="ServicePointManagerPort" binding="spm:ServicePointManagerSoapBinding">
            <soap:address location="https://localhost:8080/drm/services/v1_3/ServicePointManagerPort"/>
        </wsdl:port>
    </wsdl:service>
    
 </wsdl:definitions>
    
