yukon-client/stars/resource/stars.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Josh Wolberg (Cannon Technologies) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Zhihong Yao (CTI) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="stars-PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stars-SearchByType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="AccountNumber"/>
			<xs:enumeration value="PhoneNumber"/>
			<xs:enumeration value="Name"/>
			<xs:enumeration value="Address"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stars-CtrlHistPeriod">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="PastDay"/>
			<xs:enumeration value="PastWeek"/>
			<xs:enumeration value="PastMonth"/>
			<xs:enumeration value="PastSeason"/>
			<xs:enumeration value="PastYear"/>
			<xs:enumeration value="All"/>
			<xs:enumeration value="None"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stars-ThermoDaySettings">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Weekday"/>
			<xs:enumeration value="Weekend"/>
			<xs:enumeration value="Saturday"/>
			<xs:enumeration value="Sunday"/>
			<xs:enumeration value="All"/>
			<xs:enumeration value="Monday"/>
			<xs:enumeration value="Tuesday"/>
			<xs:enumeration value="Wednesday"/>
			<xs:enumeration value="Thursday"/>
			<xs:enumeration value="Friday"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stars-ThermoModeSettings">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Heat"/>
			<xs:enumeration value="Cool"/>
			<xs:enumeration value="Off"/>
			<xs:enumeration value="Auto"/>
			<xs:enumeration value="EmgHeat"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stars-ThermoFanSettings">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Auto"/>
			<xs:enumeration value="On"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stars-ThermostatTypes">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="ExpressStat"/>
			<xs:enumeration value="EnergyPro"/>
			<xs:enumeration value="Commercial"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stars-LoginStatus">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Enabled"/>
			<xs:enumeration value="Disabled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="stars-ContactNotification">
		<xs:sequence>
			<xs:element name="Notification" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="notifCatID" type="xs:int"/>
		<xs:attribute name="disabled" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="stars-CustomerContact">
		<xs:sequence>
			<xs:element name="LastName" type="xs:string"/>
			<xs:element name="FirstName" type="xs:string"/>
			<xs:element name="ContactNotification" type="stars-ContactNotification" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="contactID" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="stars-CustomerContacts">
		<xs:sequence>
			<xs:element name="PrimaryContact" type="stars-CustomerContact"/>
			<xs:element name="AdditionalContact" type="stars-CustomerContact" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="stars-CustomerAddress">
		<xs:sequence>
			<xs:element name="StreetAddr1" type="xs:string"/>
			<xs:element name="StreetAddr2" type="xs:string"/>
			<xs:element name="City" type="xs:string"/>
			<xs:element name="State" type="xs:string"/>
			<xs:element name="Zip" type="xs:string"/>
			<xs:element name="County" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="addressID" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="stars-CustAccount">
		<xs:sequence>
			<xs:element name="AccountNumber" type="xs:string"/>
			<xs:element name="IsCommercial" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Company" type="xs:string" minOccurs="0"/>
			<xs:element name="AccountNotes" type="xs:string"/>
			<xs:element name="PropertyNumber" type="xs:string"/>
			<xs:element name="PropertyNotes" type="xs:string"/>
			<xs:element name="StreetAddress" type="stars-CustomerAddress"/>
			<xs:element ref="stars-SiteInformation"/>
			<xs:element name="BillingAddress" type="stars-CustomerAddress"/>
			<xs:element name="PrimaryContact" type="stars-CustomerContact"/>
			<xs:element name="AdditionalContact" type="stars-CustomerContact" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TimeZone" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="accountID" type="xs:int"/>
		<xs:attribute name="customerID" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="stars-Inv">
		<xs:sequence>
			<xs:element name="Category" type="xs:string" minOccurs="0"/>
			<xs:element name="DeviceType" type="stars-CustListEntry" minOccurs="0"/>
			<xs:element name="DeviceLabel" type="xs:string" minOccurs="0"/>
			<xs:element name="InstallationCompany" type="stars-CustListEntry" minOccurs="0"/>
			<xs:element name="ReceiveDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="InstallDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="RemoveDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="AltTrackingNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="Voltage" type="stars-CustListEntry" minOccurs="0"/>
			<xs:element name="Notes" type="xs:string" minOccurs="0"/>
			<xs:element name="DeviceStatus" type="stars-CustListEntry" minOccurs="0"/>
			<xs:element name="InstallationNotes" type="xs:string" minOccurs="0"/>
			<xs:element ref="stars-LMHardwareHistory" minOccurs="0"/>
			<xs:element name="LMHardware" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ManufacturerSerialNumber" type="xs:string"/>
						<xs:element ref="stars-LMHardwareConfig" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="stars-ThermostatSettings" minOccurs="0"/>
						<xs:element ref="stars-LMConfiguration" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="routeID" type="xs:int"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="MCT" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DeviceName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="inventoryID" type="xs:int"/>
		<xs:attribute name="deviceID" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="stars-App">
		<xs:sequence>
			<xs:element name="YearManufactured" type="xs:int" minOccurs="0"/>
			<xs:element name="Manufacturer" type="stars-CustListEntry"/>
			<xs:element name="Location" type="stars-CustListEntry"/>
			<xs:element name="ServiceCompany" type="stars-CustListEntry" minOccurs="0"/>
			<xs:element name="Notes" type="xs:string"/>
			<xs:element name="ModelNumber" type="xs:string"/>
			<xs:element name="KWCapacity" type="xs:int" minOccurs="0"/>
			<xs:element name="EfficiencyRating" type="xs:int" minOccurs="0"/>
			<xs:element name="AirConditioner" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tonnage" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="ACType" type="stars-CustListEntry" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="WaterHeater" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NumberOfGallons" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="EnergySource" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="NumberOfElements" type="xs:int" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DualFuel" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SwitchOverType" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="SecondaryKWCapacity" type="xs:int" minOccurs="0"/>
						<xs:element name="SecondaryEnergySource" type="stars-CustListEntry" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Generator" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransferSwitchType" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="TransferSwitchManufacturer" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="PeakKWCapacity" type="xs:int" minOccurs="0"/>
						<xs:element name="FuelCapGallons" type="xs:int" minOccurs="0"/>
						<xs:element name="StartDelaySeconds" type="xs:int" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GrainDryer" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DryerType" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="BinSize" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="BlowerEnergySource" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="BlowerHorsePower" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="BlowerHeatSource" type="stars-CustListEntry" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StorageHeat" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StorageType" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="PeakKWCapacity" type="xs:int" minOccurs="0"/>
						<xs:element name="HoursToRecharge" type="xs:int" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HeatPump" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PumpType" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="PumpSize" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="StandbySource" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="RestartDelaySeconds" type="xs:int" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Irrigation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IrrigationType" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="HorsePower" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="EnergySource" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="SoilType" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="MeterLocation" type="stars-CustListEntry" minOccurs="0"/>
						<xs:element name="MeterVoltage" type="stars-CustListEntry" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="applianceID" type="xs:int"/>
		<xs:attribute name="applianceCategoryID" type="xs:int"/>
		<xs:attribute name="inventoryID" type="xs:int"/>
		<xs:attribute name="programID" type="xs:int"/>
		<xs:attribute name="loadNumber" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="stars-CustListEntry">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="entryID" type="xs:int" use="optional"/>
				<xs:attribute name="yukonDefID" type="xs:int" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="stars-CallRprt">
		<xs:sequence>
			<xs:element name="CallNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CallDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="CallType" type="stars-CustListEntry" minOccurs="0"/>
			<xs:element name="TakenBy" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="callID" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="stars-SrvReq">
		<xs:sequence>
			<xs:element name="OrderNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="ServiceType" type="stars-CustListEntry" minOccurs="0"/>
			<xs:element name="DateReported" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ServiceCompany" type="stars-CustListEntry" minOccurs="0"/>
			<xs:element name="OrderedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="CurrentState" type="stars-CustListEntry" minOccurs="0"/>
			<xs:element name="DateScheduled" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="DateCompleted" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ActionTaken" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="orderID" type="xs:int"/>
		<xs:attribute name="accountID" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="stars-LMCustomerEvent">
		<xs:sequence>
			<xs:element name="EventAction" type="xs:string"/>
			<xs:element name="EventDateTime" type="xs:dateTime"/>
			<xs:element name="Notes" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="yukonDefID" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="stars-ThermoManOpt">
		<xs:sequence>
			<xs:element name="Temperature" type="xs:int"/>
			<xs:element name="Hold" type="xs:boolean"/>
			<xs:element name="Mode" type="stars-ThermoModeSettings" minOccurs="0"/>
			<xs:element name="Fan" type="stars-ThermoFanSettings" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="stars-Usr">
		<xs:sequence>
			<xs:element name="Username" type="xs:string"/>
			<xs:element name="Password" type="xs:string"/>
			<xs:element name="Status" type="stars-LoginStatus" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="userID" type="xs:int"/>
		<xs:attribute name="groupID" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="stars-QuestionAnswer">
		<xs:sequence>
			<xs:element name="QuestionType" type="stars-CustListEntry" minOccurs="0"/>
			<xs:element name="Question" type="xs:string" minOccurs="0"/>
			<xs:element name="AnswerType" type="stars-CustListEntry" minOccurs="0"/>
			<xs:element name="Answer" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="questionID" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="stars-CustResidence">
		<xs:sequence>
			<xs:element name="ResidenceType" type="stars-CustListEntry"/>
			<xs:element name="ConstructionMaterial" type="stars-CustListEntry"/>
			<xs:element name="DecadeBuilt" type="stars-CustListEntry"/>
			<xs:element name="SquareFeet" type="stars-CustListEntry"/>
			<xs:element name="InsulationDepth" type="stars-CustListEntry"/>
			<xs:element name="GeneralCondition" type="stars-CustListEntry"/>
			<xs:element name="MainCoolingSystem" type="stars-CustListEntry"/>
			<xs:element name="MainHeatingSystem" type="stars-CustListEntry"/>
			<xs:element name="NumberOfOccupants" type="stars-CustListEntry"/>
			<xs:element name="OwnershipType" type="stars-CustListEntry"/>
			<xs:element name="MainFuelType" type="stars-CustListEntry"/>
			<xs:element name="Notes" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="stars-Operation">
		<xs:annotation>
			<xs:documentation>Root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="stars-Login" minOccurs="0"/>
				<xs:element ref="stars-Logoff" minOccurs="0"/>
				<xs:element ref="stars-Success" minOccurs="0"/>
				<xs:element ref="stars-Failure" minOccurs="0"/>
				<xs:element ref="stars-NewCustomerAccount" minOccurs="0"/>
				<xs:element ref="stars-ProgramSignUp" minOccurs="0"/>
				<xs:element ref="stars-ProgramSignUpResponse" minOccurs="0"/>
				<xs:element ref="stars-SearchCustomerAccount" minOccurs="0"/>
				<xs:element ref="stars-SearchCustomerAccountResponse" minOccurs="0"/>
				<xs:element ref="stars-GetCustomerAccount" minOccurs="0"/>
				<xs:element ref="stars-GetCustomerAccountResponse" minOccurs="0"/>
				<xs:element ref="stars-ReloadCustomerAccount" minOccurs="0"/>
				<xs:element ref="stars-ReloadCustomerAccountResponse" minOccurs="0"/>
				<xs:element ref="stars-DeleteCustomerAccount" minOccurs="0"/>
				<xs:element ref="stars-UpdateCustomerAccount" minOccurs="0"/>
				<xs:element ref="stars-UpdateContacts" minOccurs="0"/>
				<xs:element ref="stars-UpdateContactsResponse" minOccurs="0"/>
				<xs:element ref="stars-UpdateLMPrograms" minOccurs="0"/>
				<xs:element ref="stars-ProgramOptOut" minOccurs="0"/>
				<xs:element ref="stars-ProgramOptOutResponse" minOccurs="0"/>
				<xs:element ref="stars-ProgramReenable" minOccurs="0"/>
				<xs:element ref="stars-ProgramReenableResponse" minOccurs="0"/>
				<xs:element ref="stars-YukonSwitchCommand" minOccurs="0"/>
				<xs:element ref="stars-YukonSwitchCommandResponse" minOccurs="0"/>
				<xs:element ref="stars-GetLMControlHistory" minOccurs="0"/>
				<xs:element ref="stars-GetLMControlHistoryResponse" minOccurs="0"/>
				<xs:element ref="stars-CreateCallReport" minOccurs="0"/>
				<xs:element ref="stars-CreateCallReportResponse" minOccurs="0"/>
				<xs:element ref="stars-UpdateCallReport" minOccurs="0"/>
				<xs:element ref="stars-UpdateCallReportResponse" minOccurs="0"/>
				<xs:element ref="stars-DeleteCallReport" minOccurs="0"/>
				<xs:element ref="stars-CreateServiceRequest" minOccurs="0"/>
				<xs:element ref="stars-CreateServiceRequestResponse" minOccurs="0"/>
				<xs:element ref="stars-UpdateServiceRequest" minOccurs="0"/>
				<xs:element ref="stars-UpdateServiceRequestResponse" minOccurs="0"/>
				<xs:element ref="stars-DeleteServiceRequest" minOccurs="0"/>
				<xs:element ref="stars-CreateAppliance" minOccurs="0"/>
				<xs:element ref="stars-CreateApplianceResponse" minOccurs="0"/>
				<xs:element ref="stars-UpdateAppliance" minOccurs="0"/>
				<xs:element ref="stars-DeleteAppliance" minOccurs="0"/>
				<xs:element ref="stars-DeleteApplianceResponse" minOccurs="0"/>
				<xs:element ref="stars-CreateLMHardware" minOccurs="0"/>
				<xs:element ref="stars-CreateLMHardwareResponse" minOccurs="0"/>
				<xs:element ref="stars-UpdateLMHardware" minOccurs="0"/>
				<xs:element ref="stars-UpdateLMHardwareResponse" minOccurs="0"/>
				<xs:element ref="stars-DeleteLMHardware" minOccurs="0"/>
				<xs:element ref="stars-UpdateLogin" minOccurs="0"/>
				<xs:element ref="stars-UpdateLoginResponse" minOccurs="0"/>
				<xs:element ref="stars-UpdateThermostatSchedule" minOccurs="0"/>
				<xs:element ref="stars-UpdateThermostatScheduleResponse" minOccurs="0"/>
				<xs:element ref="stars-UpdateThermostatManualOption" minOccurs="0"/>
				<xs:element ref="stars-UpdateThermostatManualOptionResponse" minOccurs="0"/>
				<xs:element ref="stars-SendOptOutNotification" minOccurs="0"/>
				<xs:element ref="stars-GetEnergyCompanySettings" minOccurs="0"/>
				<xs:element ref="stars-GetEnergyCompanySettingsResponse" minOccurs="0"/>
				<xs:element ref="stars-UpdateControlNotification" minOccurs="0"/>
				<xs:element ref="stars-SendOddsForControl" minOccurs="0"/>
				<xs:element ref="stars-UpdateResidenceInformation" minOccurs="0"/>
				<xs:element ref="stars-UpdateLMHardwareConfig" minOccurs="0"/>
				<xs:element ref="stars-UpdateLMHardwareConfigResponse" minOccurs="0"/>
				<xs:element ref="stars-SaveThermostatSchedule" minOccurs="0"/>
				<xs:element ref="stars-SaveThermostatScheduleResponse" minOccurs="0"/>
				<xs:element ref="stars-ApplyThermostatSchedule" minOccurs="0"/>
				<xs:element ref="stars-ApplyThermostatScheduleResponse" minOccurs="0"/>
				<xs:element ref="stars-DeleteThermostatSchedule" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-SULMPrograms">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SULMProgram" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="programID" type="xs:int"/>
						<xs:attribute name="applianceCategoryID" type="xs:int"/>
						<xs:attribute name="addressingGroupID" type="xs:int"/>
						<xs:attribute name="inventoryID" type="xs:int"/>
						<xs:attribute name="loadNumber" type="xs:int"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-NewCustomerAccount">
		<xs:annotation>
			<xs:documentation>Create new customer account</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="stars-CustomerAccount"/>
				<xs:element ref="stars-SULMPrograms" minOccurs="0"/>
				<xs:element ref="stars-UpdateLogin" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ProgramSignUp">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EnergyCompanyID" type="xs:int" minOccurs="0"/>
				<xs:element name="AccountNumber" type="xs:string" minOccurs="0"/>
				<xs:element ref="stars-SULMPrograms" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ProgramSignUpResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMPrograms" minOccurs="0"/>
				<xs:element ref="stars-Appliances" minOccurs="0"/>
				<xs:element ref="stars-Inventories" minOccurs="0"/>
				<xs:element name="Description" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-LMPrograms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMProgram" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="stars-LMProgramHistory" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-SiteInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Substation" type="stars-CustListEntry"/>
				<xs:element name="Feeder" type="xs:string"/>
				<xs:element name="Pole" type="xs:string"/>
				<xs:element name="TransformerSize" type="xs:string"/>
				<xs:element name="ServiceVoltage" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="siteID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-LMProgram">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProgramName" type="xs:string"/>
				<xs:element name="Status" type="xs:string" minOccurs="0"/>
				<xs:element name="DateEnrolled" type="xs:dateTime" minOccurs="0"/>
				<xs:element ref="stars-LMControlHistory" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="programID" type="xs:int" use="required"/>
			<xs:attribute name="groupID" type="xs:int"/>
			<xs:attribute name="applianceCategoryID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-CustAccountInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-CustomerAccount"/>
				<xs:element ref="stars-ResidenceInformation" minOccurs="0"/>
				<xs:element ref="stars-LMPrograms"/>
				<xs:element ref="stars-Appliances" minOccurs="0"/>
				<xs:element ref="stars-Inventories" minOccurs="0"/>
				<xs:element ref="stars-CallReportHistory" minOccurs="0"/>
				<xs:element ref="stars-ServiceRequestHistory" minOccurs="0"/>
				<xs:element ref="stars-User" minOccurs="0"/>
				<xs:element name="stars-SavedThermostatSchedules" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="stars-ThermostatProgram" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="lastActiveTime" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-SearchCustomerAccount">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SearchBy" type="stars-CustListEntry"/>
				<xs:element name="SearchValue" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-SearchCustomerAccountResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="stars-CustAccountInformation"/>
				<xs:element name="stars-BriefCustAccountInfo" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="accountID" type="xs:int" use="required"/>
						<xs:attribute name="energyCompanyID" type="xs:int"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="stars-Failure"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-GetCustomerAccount">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AccountID" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-GetCustomerAccountResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-CustAccountInformation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ReloadCustomerAccount">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ReloadCustomerAccountResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-CustAccountInformation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-DeleteCustomerAccount">
		<xs:complexType>
			<xs:attribute name="DisableReceivers" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-CustomerAccount" type="stars-CustAccount"/>
	<xs:element name="stars-UpdateCustomerAccount" type="stars-CustAccount">
		<xs:annotation>
			<xs:documentation>Update a customer account</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="stars-UpdateContacts" type="stars-CustomerContacts"/>
	<xs:element name="stars-UpdateContactsResponse" type="stars-CustomerContacts"/>
	<xs:element name="stars-UpdateLMPrograms">
		<xs:annotation>
			<xs:documentation>Update the LM programs for a customer account</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LMProgram" type="stars-CustListEntry" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-User" type="stars-Usr"/>
	<xs:element name="stars-Login" type="stars-Usr"/>
	<xs:element name="stars-LoginResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-User"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Logoff">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Success">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Description" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Failure">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Description" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="statusCode" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Appliances">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-Appliance" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Appliance" type="stars-App"/>
	<xs:element name="stars-Inventories">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-Inventory" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Inventory" type="stars-Inv"/>
	<xs:element name="stars-EnableService">
		<xs:annotation>
			<xs:documentation>Enable programs of a customer account</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="inventoryID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-DisableService">
		<xs:annotation>
			<xs:documentation>Disable programs of a customer account</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="inventoryID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Config">
		<xs:complexType>
			<xs:attribute name="inventoryID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-LMControlHistory">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BeingControlled" type="xs:boolean" minOccurs="0"/>
				<xs:element name="ControlHistory" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="StartDateTime" type="xs:dateTime"/>
							<xs:element name="ControlDuration" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ControlSummary" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DailyTime" type="xs:int"/>
							<xs:element name="MonthlyTime" type="xs:int"/>
							<xs:element name="SeasonalTime" type="xs:int"/>
							<xs:element name="AnnualTime" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-GetLMControlHistory">
		<xs:annotation>
			<xs:documentation>Get LM control history of a LM program</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GroupID" type="xs:int"/>
				<xs:element name="Period" type="stars-CtrlHistPeriod" minOccurs="0"/>
				<xs:element name="GetSummary" type="xs:boolean" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-GetLMControlHistoryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMControlHistory"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-CreateCallReport" type="stars-CallRprt"/>
	<xs:element name="stars-CallReport" type="stars-CallRprt"/>
	<xs:element name="stars-CreateCallReportResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-CallReport" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-UpdateCallReport" type="stars-CallRprt"/>
	<xs:element name="stars-UpdateCallReportResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-CallReport"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-DeleteCallReport">
		<xs:complexType>
			<xs:attribute name="callID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-CallReportHistory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-CallReport" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-CreateServiceRequest" type="stars-SrvReq"/>
	<xs:element name="stars-ServiceRequest" type="stars-SrvReq"/>
	<xs:element name="stars-CreateServiceRequestResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-ServiceRequest"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-UpdateServiceRequest" type="stars-SrvReq"/>
	<xs:element name="stars-UpdateServiceRequestResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-ServiceRequest"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-DeleteServiceRequest">
		<xs:complexType>
			<xs:attribute name="orderID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ServiceRequestHistory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-ServiceRequest" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-YukonSwitchCommand">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="stars-EnableService"/>
				<xs:element ref="stars-DisableService"/>
				<xs:element ref="stars-Config"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-YukonSwitchCommandResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-Inventory"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-LMProgramEvent">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stars-LMCustomerEvent">
					<xs:sequence>
						<xs:element name="ProgramID" type="xs:int" maxOccurs="unbounded"/>
						<xs:element name="Duration" type="xs:int" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-LMProgramHistory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMProgramEvent" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-LMHardwareEvent" type="stars-LMCustomerEvent"/>
	<xs:element name="stars-LMHardwareHistory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMHardwareEvent" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="inventoryID" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-LMHardwareConfig">
		<xs:complexType>
			<xs:attribute name="applianceID" type="xs:int"/>
			<xs:attribute name="groupID" type="xs:int"/>
			<xs:attribute name="programID" type="xs:int"/>
			<xs:attribute name="loadNumber" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-LMConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ColdLoadPickup" type="xs:string"/>
				<xs:element name="TamperDetect" type="xs:string"/>
				<xs:element name="SA205" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Slot1" type="xs:int"/>
							<xs:element name="Slot2" type="xs:int"/>
							<xs:element name="Slot3" type="xs:int"/>
							<xs:element name="Slot4" type="xs:int"/>
							<xs:element name="Slot5" type="xs:int"/>
							<xs:element name="Slot6" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SA305" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Utility" type="xs:int"/>
							<xs:element name="Group" type="xs:int"/>
							<xs:element name="Division" type="xs:int"/>
							<xs:element name="Substation" type="xs:int"/>
							<xs:element name="RateFamily" type="xs:int"/>
							<xs:element name="RateMember" type="xs:int"/>
							<xs:element name="RateHierarchy" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="VersaCom" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Utility" type="xs:int"/>
							<xs:element name="Section" type="xs:int"/>
							<xs:element name="ClassAddress" type="xs:int"/>
							<xs:element name="Division" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ExpressCom" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ServiceProvider" type="xs:int"/>
							<xs:element name="GEO" type="xs:int"/>
							<xs:element name="Substation" type="xs:int"/>
							<xs:element name="Feeder" type="xs:int"/>
							<xs:element name="Zip" type="xs:int"/>
							<xs:element name="UserAddress" type="xs:int"/>
							<xs:element name="Program" type="xs:string"/>
							<xs:element name="Splinter" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-WebConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LogoLocation" type="xs:string"/>
				<xs:element name="Description" type="xs:string"/>
				<xs:element name="AlternateDisplayName" type="xs:string"/>
				<xs:element name="URL" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ApplianceCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Description" type="xs:string"/>
				<xs:element ref="stars-WebConfig" minOccurs="0"/>
				<xs:element ref="stars-EnrLMProgram" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="applianceCategoryID" type="xs:int"/>
			<xs:attribute name="categoryID" type="xs:int"/>
			<xs:attribute name="inherited" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-EnrLMProgram">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="YukonName" type="xs:string" minOccurs="0"/>
				<xs:element ref="stars-WebConfig" minOccurs="0"/>
				<xs:element name="AddressingGroup" type="stars-CustListEntry" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="ChanceOfControl" type="stars-CustListEntry" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="programID" type="xs:int"/>
			<xs:attribute name="deviceID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-CustSelectionList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-SelectionListEntry" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="listID" type="xs:int"/>
			<xs:attribute name="listName" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-SelectionListEntry" type="stars-CustListEntry"/>
	<xs:element name="stars-CreateAppliance" type="stars-App"/>
	<xs:element name="stars-CreateApplianceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-Appliance"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-UpdateAppliance" type="stars-App"/>
	<xs:element name="stars-DeleteAppliance">
		<xs:complexType>
			<xs:attribute name="applianceID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-DeleteApplianceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMPrograms"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-CreateLMHardware" type="stars-Inv"/>
	<xs:element name="stars-CreateLMHardwareResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-Inventory"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-UpdateLMHardware" type="stars-Inv"/>
	<xs:element name="stars-UpdateLMHardwareResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-Inventory"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-DeleteLMHardware">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DeleteFromInventory" type="xs:boolean" minOccurs="0"/>
				<xs:element name="RemoveDate" type="xs:dateTime" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="inventoryID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ThermostatSchedule">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Time1" type="xs:time"/>
				<xs:element name="Temperature1" type="xs:int"/>
				<xs:element name="Time2" type="xs:time"/>
				<xs:element name="Temperature2" type="xs:int"/>
				<xs:element name="Time3" type="xs:time"/>
				<xs:element name="Temperature3" type="xs:int"/>
				<xs:element name="Time4" type="xs:time"/>
				<xs:element name="Temperature4" type="xs:int"/>
			</xs:sequence>
			<xs:attribute name="day" type="stars-ThermoDaySettings"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ThermostatSeason">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-ThermostatSchedule" minOccurs="0" maxOccurs="7"/>
			</xs:sequence>
			<xs:attribute name="mode" type="stars-ThermoModeSettings"/>
			<xs:attribute name="startDate" type="xs:date"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ThermostatProgram">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ScheduleName" type="xs:string" minOccurs="0"/>
				<xs:element name="ThermostatType" type="stars-ThermostatTypes" minOccurs="0"/>
				<xs:element ref="stars-ThermostatSeason" minOccurs="0" maxOccurs="2"/>
			</xs:sequence>
			<xs:attribute name="scheduleID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ThermostatSettings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-ThermostatProgram"/>
				<xs:element ref="stars-ThermostatManualEvent" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="stars-ThermostatDynamicData" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ThermostatManualEvent">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stars-LMCustomerEvent">
					<xs:sequence>
						<xs:element name="ThermostatManualOption" type="stars-ThermoManOpt"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ThermostatDynamicData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LastUpdatedTime" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="DisplayedTemperature" type="xs:int" minOccurs="0"/>
				<xs:element name="DisplayedTempUnit" type="xs:string" minOccurs="0"/>
				<xs:element name="Fan" type="stars-ThermoFanSettings" minOccurs="0"/>
				<xs:element name="Mode" type="stars-ThermoModeSettings" minOccurs="0"/>
				<xs:element name="CoolSetpoint" type="xs:int" minOccurs="0"/>
				<xs:element name="HeatSetpoint" type="xs:int" minOccurs="0"/>
				<xs:element name="SetpointHold" type="xs:boolean" minOccurs="0"/>
				<xs:element name="LowerCoolSetpointLimit" type="xs:int" minOccurs="0"/>
				<xs:element name="UpperHeatSetpointLimit" type="xs:int" minOccurs="0"/>
				<xs:element name="InfoString" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-UpdateThermostatSchedule">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-ThermostatSeason" minOccurs="0" maxOccurs="2"/>
			</xs:sequence>
			<xs:attribute name="inventoryID" type="xs:int"/>
			<xs:attribute name="inventoryIDs" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-UpdateThermostatScheduleResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMHardwareEvent" minOccurs="0"/>
				<xs:element ref="stars-ThermostatSeason" minOccurs="0" maxOccurs="2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-UpdateThermostatManualOption">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stars-ThermoManOpt">
					<xs:attribute name="inventoryID" type="xs:int"/>
					<xs:attribute name="inventoryIDs" type="xs:string"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-UpdateThermostatManualOptionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-ThermostatManualEvent"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ProgramOptOut">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="StartDateTime" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="Period" type="xs:int"/>
			</xs:sequence>
			<xs:attribute name="inventoryID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ProgramOptOutResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMProgramHistory" minOccurs="0"/>
				<xs:element ref="stars-LMHardwareHistory" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Description" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ProgramReenable">
		<xs:complexType>
			<xs:attribute name="inventoryID" type="xs:int"/>
			<xs:attribute name="cancelScheduledOptOut" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ProgramReenableResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMProgramHistory" minOccurs="0"/>
				<xs:element ref="stars-LMHardwareHistory" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Description" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ServiceCompany">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CompanyName" type="xs:string"/>
				<xs:element name="MainPhoneNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="MainFaxNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="CompanyAddress" type="stars-CustomerAddress" minOccurs="0"/>
				<xs:element name="PrimaryContact" type="stars-CustomerContact" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="companyID" type="xs:int"/>
			<xs:attribute name="inherited" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ServiceCompanies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-ServiceCompany" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-UpdateLogin" type="stars-Usr"/>
	<xs:element name="stars-UpdateLoginResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-User"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ExitInterviewQuestion" type="stars-QuestionAnswer"/>
	<xs:element name="stars-ExitInterviewQuestions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-ExitInterviewQuestion" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-SendOptOutNotification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-ExitInterviewQuestion" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-CustomerFAQ" type="stars-QuestionAnswer"/>
	<xs:element name="stars-CustomerFAQGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Subject" type="xs:string"/>
				<xs:element ref="stars-CustomerFAQ" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="subjectID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-CustomerFAQs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-CustomerFAQGroup" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-EnrollmentPrograms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-ApplianceCategory" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-CustomerSelectionLists">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-CustSelectionList" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-EnergyCompany">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CompanyName" type="xs:string"/>
				<xs:element name="MainPhoneNumber" type="xs:string"/>
				<xs:element name="MainFaxNumber" type="xs:string"/>
				<xs:element name="Email" type="xs:string"/>
				<xs:element name="CompanyAddress" type="stars-CustomerAddress" minOccurs="0"/>
				<xs:element name="TimeZone" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-GetEnergyCompanySettings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EnergyCompanyID" type="xs:int" minOccurs="0"/>
				<xs:element name="ProgramCategory" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-EnergyCompanySettings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-EnergyCompany"/>
				<xs:element ref="stars-WebConfig" minOccurs="0"/>
				<xs:element ref="stars-EnrollmentPrograms" minOccurs="0"/>
				<xs:element ref="stars-CustomerSelectionLists" minOccurs="0"/>
				<xs:element ref="stars-CustomerFAQs" minOccurs="0"/>
				<xs:element ref="stars-ServiceCompanies" minOccurs="0"/>
				<xs:element ref="stars-ExitInterviewQuestions" minOccurs="0"/>
				<xs:element name="stars-DefaultThermostatSchedules" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="stars-ThermostatProgram" minOccurs="0" maxOccurs="3"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="energyCompanyID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-GetEnergyCompanySettingsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-EnergyCompanySettings"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-UpdateControlNotification">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ContactNotification" type="stars-ContactNotification" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-SendOddsForControl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-EnrLMProgram" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ResidenceInformation" type="stars-CustResidence"/>
	<xs:element name="stars-UpdateResidenceInformation" type="stars-CustResidence"/>
	<xs:element name="stars-UpdateLMHardwareConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMHardwareConfig" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="stars-LMConfiguration" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="inventoryID" type="xs:int"/>
			<xs:attribute name="saveToBatch" type="xs:boolean"/>
			<xs:attribute name="saveConfigOnly" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-UpdateLMHardwareConfigResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMPrograms" minOccurs="0"/>
				<xs:element ref="stars-Appliances" minOccurs="0"/>
				<xs:element ref="stars-Inventories" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-SaveThermostatSchedule">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ScheduleName" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="inventoryID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-SaveThermostatScheduleResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-ThermostatProgram"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ApplyThermostatSchedule">
		<xs:complexType>
			<xs:attribute name="inventoryID" type="xs:int"/>
			<xs:attribute name="scheduleID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ApplyThermostatScheduleResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-ThermostatProgram"/>
			</xs:sequence>
			<xs:attribute name="inventoryID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-DeleteThermostatSchedule">
		<xs:complexType>
			<xs:attribute name="scheduleID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
