yukon-client/api/src/com/cannontech/yukon/api/common/schemas/Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:yukon="http://yukon.cannontech.com/api" 
            targetNamespace="http://yukon.cannontech.com/api" 
            elementFormDefault="qualified" version="1.0">
            
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
            General type definitions for yukon message elements
        </xsd:documentation>
	</xsd:annotation>
    
    <xsd:simpleType name="AccountNumber" >
        <xsd:restriction base="xsd:string" />
    </xsd:simpleType>

    <xsd:simpleType name="SerialNumber" >
        <xsd:restriction base="xsd:string" />
    </xsd:simpleType>

    <xsd:simpleType name="UnboundedLimit">
        <xsd:union memberTypes="xsd:positiveInteger yukon:UnboundedLimitWord" />
    </xsd:simpleType>

    <xsd:simpleType name="UnboundedLimitWord">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unbounded" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="emptyElement">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType" />
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
