yukon-client/api/src/com/cannontech/yukon/api/common/schemas/Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:yukon="http://yukon.cannontech.com/api" 
            targetNamespace="http://yukon.cannontech.com/api" 
            elementFormDefault="qualified" version="1.0">
            
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
            General type definitions for Yukon message elements.
        </xsd:documentation>
	</xsd:annotation>
    
    <xsd:simpleType name="AccountNumber" >
        <xsd:restriction base="xsd:string" />
    </xsd:simpleType>

    <xsd:simpleType name="SerialNumber" >
        <xsd:restriction base="xsd:string" />
    </xsd:simpleType>

    <xsd:simpleType name="UnboundedLimit">
        <xsd:union memberTypes="xsd:positiveInteger yukon:UnboundedLimitWord" />
    </xsd:simpleType>

    <xsd:simpleType name="UnboundedLimitWord">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unbounded" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="emptyElement">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ReturnToken">
        <xsd:annotation>
            <xsd:documentation>Used in requests to indicate that the requester wants the web
            service to return a token instead of blocking.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="tokenExpires" type="xsd:dateTime"/>
    </xsd:complexType>

    <xsd:simpleType name="ThermostatMode">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Auto" />
            <xsd:enumeration value="Cool" />
            <xsd:enumeration value="Heat" />
            <xsd:enumeration value="Off" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="ThermostatFan">
            <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Auto" />
                <xsd:enumeration value="Circulate" />
                <xsd:enumeration value="On" />
            </xsd:restriction>
    </xsd:simpleType>


    <xsd:complexType name="Temperature">
        <xsd:simpleContent >
            <xsd:extension base="xsd:float">
                <xsd:attribute name="unit">
                    <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="F|C" />
                            </xsd:restriction>
                        </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="OptOutType">
            <xsd:restriction base="xsd:string">
                <xsd:enumeration value="ENABLED" />
                <xsd:enumeration value="DISABLED_WITH_COMM" />
                <xsd:enumeration value="DISABLED_WITHOUT_COMM" />
            </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
