yukon-client/multispeak/src/com/cannontech/multispeak/wsdl/v5/OA_Server.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:request="http://www.multispeak.org/V5.0/ws/request" xmlns:response="http://www.multispeak.org/V5.0/ws/response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.multispeak.org/V5.0/wsdl/OA_Server" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns8="http://docs.oasis-open.org/wsrf/bf-2" xmlns:ns9="http://www.w3.org/2005/08/addressing" targetNamespace="http://www.multispeak.org/V5.0/wsdl/OA_Server">
	<wsdl:types>
		<s:schema>
			<s:import namespace="http://www.multispeak.org/V5.0/ws/request" schemaLocation="../../xsd/MultiSpeakWebServicesRequestMsgHeader.xsd"/>
			<s:import namespace="http://www.multispeak.org/V5.0/ws/response" schemaLocation="../../xsd/MultiSpeakWebServicesResponseMsgHeader.xsd"/>
		</s:schema>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.multispeak.org/V5.0/wsdl/OA_Server">
			<s:include schemaLocation="OA_Server.xsd"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="MultiSpeakResponseMsgHeader">
		<wsdl:part name="MultiSpeakResponseMsgHeader" element="response:MultiSpeakResponseMsgHeader"/>
	</wsdl:message>
	<wsdl:message name="MultiSpeakRequestMsgHeader">
		<wsdl:part name="MultiSpeakRequestMsgHeader" element="request:MultiSpeakRequestMsgHeader"/>
	</wsdl:message>
	<wsdl:message name="GetAccountOutageHistoriesByAccountIDsSoapIn">
		<wsdl:part name="parameters" element="tns:GetAccountOutageHistoriesByAccountIDs"/>
	</wsdl:message>
	<wsdl:message name="GetAccountOutageHistoriesByAccountIDsSoapOut">
		<wsdl:part name="parameters" element="tns:GetAccountOutageHistoriesByAccountIDsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetActiveOutageRefsSoapIn">
		<wsdl:part name="parameters" element="tns:GetActiveOutageRefs"/>
	</wsdl:message>
	<wsdl:message name="GetActiveOutageRefsSoapOut">
		<wsdl:part name="parameters" element="tns:GetActiveOutageRefsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetActiveOutagesSoapIn">
		<wsdl:part name="parameters" element="tns:GetActiveOutages"/>
	</wsdl:message>
	<wsdl:message name="GetActiveOutagesSoapOut">
		<wsdl:part name="parameters" element="tns:GetActiveOutagesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetActiveVoiceRecordingsSoapIn">
		<wsdl:part name="parameters" element="tns:GetActiveVoiceRecordings"/>
	</wsdl:message>
	<wsdl:message name="GetActiveVoiceRecordingsSoapOut">
		<wsdl:part name="parameters" element="tns:GetActiveVoiceRecordingsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAllDomainsSoapIn">
		<wsdl:part name="parameters" element="tns:GetAllDomains"/>
	</wsdl:message>
	<wsdl:message name="GetAllDomainsSoapOut">
		<wsdl:part name="parameters" element="tns:GetAllDomainsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentsByObjectRefsSoapIn">
		<wsdl:part name="parameters" element="tns:GetAttachmentsByObjectRefs"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentsByObjectRefsSoapOut">
		<wsdl:part name="parameters" element="tns:GetAttachmentsByObjectRefsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetCustomerOutageHistoriesByCustomerIDsSoapIn">
		<wsdl:part name="parameters" element="tns:GetCustomerOutageHistoriesByCustomerIDs"/>
	</wsdl:message>
	<wsdl:message name="GetCustomerOutageHistoriesByCustomerIDsSoapOut">
		<wsdl:part name="parameters" element="tns:GetCustomerOutageHistoriesByCustomerIDsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetDetailedOutagesSoapIn">
		<wsdl:part name="parameters" element="tns:GetDetailedOutages"/>
	</wsdl:message>
	<wsdl:message name="GetDetailedOutagesSoapOut">
		<wsdl:part name="parameters" element="tns:GetDetailedOutagesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetDetailedOutagesByOutageRefsSoapIn">
		<wsdl:part name="parameters" element="tns:GetDetailedOutagesByOutageRefs"/>
	</wsdl:message>
	<wsdl:message name="GetDetailedOutagesByOutageRefsSoapOut">
		<wsdl:part name="parameters" element="tns:GetDetailedOutagesByOutageRefsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetDomainNamesSoapIn">
		<wsdl:part name="parameters" element="tns:GetDomainNames"/>
	</wsdl:message>
	<wsdl:message name="GetDomainNamesSoapOut">
		<wsdl:part name="parameters" element="tns:GetDomainNamesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetDomainsByDomainNamesSoapIn">
		<wsdl:part name="parameters" element="tns:GetDomainsByDomainNames"/>
	</wsdl:message>
	<wsdl:message name="GetDomainsByDomainNamesSoapOut">
		<wsdl:part name="parameters" element="tns:GetDomainsByDomainNamesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetElectricOutagesByElectricTopologyElementRefsSoapIn">
		<wsdl:part name="parameters" element="tns:GetElectricOutagesByElectricTopologyElementRefs"/>
	</wsdl:message>
	<wsdl:message name="GetElectricOutagesByElectricTopologyElementRefsSoapOut">
		<wsdl:part name="parameters" element="tns:GetElectricOutagesByElectricTopologyElementRefsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetIncidentReportsByStatusesSoapIn">
		<wsdl:part name="parameters" element="tns:GetIncidentReportsByStatuses"/>
	</wsdl:message>
	<wsdl:message name="GetIncidentReportsByStatusesSoapOut">
		<wsdl:part name="parameters" element="tns:GetIncidentReportsByStatusesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetMetersAffectedByOutagesSoapIn">
		<wsdl:part name="parameters" element="tns:GetMetersAffectedByOutages"/>
	</wsdl:message>
	<wsdl:message name="GetMetersAffectedByOutagesSoapOut">
		<wsdl:part name="parameters" element="tns:GetMetersAffectedByOutagesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetMethodsSoapIn">
		<wsdl:part name="parameters" element="tns:GetMethods"/>
	</wsdl:message>
	<wsdl:message name="GetMethodsSoapOut">
		<wsdl:part name="parameters" element="tns:GetMethodsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetObjectRefsByNounAndPrimaryIdentifiersSoapIn">
		<wsdl:part name="parameters" element="tns:GetObjectRefsByNounAndPrimaryIdentifiers"/>
	</wsdl:message>
	<wsdl:message name="GetObjectRefsByNounAndPrimaryIdentifiersSoapOut">
		<wsdl:part name="parameters" element="tns:GetObjectRefsByNounAndPrimaryIdentifiersResponse"/>
	</wsdl:message>
	<wsdl:message name="GetOutageLocationStatusesByOutageLocationsSoapIn">
		<wsdl:part name="parameters" element="tns:GetOutageLocationStatusesByOutageLocations"/>
	</wsdl:message>
	<wsdl:message name="GetOutageLocationStatusesByOutageLocationsSoapOut">
		<wsdl:part name="parameters" element="tns:GetOutageLocationStatusesByOutageLocationsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetOutageReasonCodesSoapIn">
		<wsdl:part name="parameters" element="tns:GetOutageReasonCodes"/>
	</wsdl:message>
	<wsdl:message name="GetOutageReasonCodesSoapOut">
		<wsdl:part name="parameters" element="tns:GetOutageReasonCodesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetOutagesByDateSoapIn">
		<wsdl:part name="parameters" element="tns:GetOutagesByDate"/>
	</wsdl:message>
	<wsdl:message name="GetOutagesByDateSoapOut">
		<wsdl:part name="parameters" element="tns:GetOutagesByDateResponse"/>
	</wsdl:message>
	<wsdl:message name="GetOutagesByOutageRefsSoapIn">
		<wsdl:part name="parameters" element="tns:GetOutagesByOutageRefs"/>
	</wsdl:message>
	<wsdl:message name="GetOutagesByOutageRefsSoapOut">
		<wsdl:part name="parameters" element="tns:GetOutagesByOutageRefsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetOutageStatusesSoapIn">
		<wsdl:part name="parameters" element="tns:GetOutageStatuses"/>
	</wsdl:message>
	<wsdl:message name="GetOutageStatusesSoapOut">
		<wsdl:part name="parameters" element="tns:GetOutageStatusesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetServiceLocationsAffectedByOutagesSoapIn">
		<wsdl:part name="parameters" element="tns:GetServiceLocationsAffectedByOutages"/>
	</wsdl:message>
	<wsdl:message name="GetServiceLocationsAffectedByOutagesSoapOut">
		<wsdl:part name="parameters" element="tns:GetServiceLocationsAffectedByOutagesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetServicePointOutageDurationsByDateRangeSoapIn">
		<wsdl:part name="parameters" element="tns:GetServicePointOutageDurationsByDateRange"/>
	</wsdl:message>
	<wsdl:message name="GetServicePointOutageDurationsByDateRangeSoapOut">
		<wsdl:part name="parameters" element="tns:GetServicePointOutageDurationsByDateRangeResponse"/>
	</wsdl:message>
	<wsdl:message name="GetServicePointOutageDurationsByDateRangeAndServicePointIDsSoapIn">
		<wsdl:part name="parameters" element="tns:GetServicePointOutageDurationsByDateRangeAndServicePointIDs"/>
	</wsdl:message>
	<wsdl:message name="GetServicePointOutageDurationsByDateRangeAndServicePointIDsSoapOut">
		<wsdl:part name="parameters" element="tns:GetServicePointOutageDurationsByDateRangeAndServicePointIDsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetServicePointOutageHistoriesByServicePointIDsSoapIn">
		<wsdl:part name="parameters" element="tns:GetServicePointOutageHistoriesByServicePointIDs"/>
	</wsdl:message>
	<wsdl:message name="GetServicePointOutageHistoriesByServicePointIDsSoapOut">
		<wsdl:part name="parameters" element="tns:GetServicePointOutageHistoriesByServicePointIDsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetServicePointsAffectedByOutagesSoapIn">
		<wsdl:part name="parameters" element="tns:GetServicePointsAffectedByOutages"/>
	</wsdl:message>
	<wsdl:message name="GetServicePointsAffectedByOutagesSoapOut">
		<wsdl:part name="parameters" element="tns:GetServicePointsAffectedByOutagesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSpatialFeaturesNearLatLongsSoapIn">
		<wsdl:part name="parameters" element="tns:GetSpatialFeaturesNearLatLongs"/>
	</wsdl:message>
	<wsdl:message name="GetSpatialFeaturesNearLatLongsSoapOut">
		<wsdl:part name="parameters" element="tns:GetSpatialFeaturesNearLatLongsResponse"/>
	</wsdl:message>
	<wsdl:message name="InitiateCutSoapIn">
		<wsdl:part name="parameters" element="tns:InitiateCut"/>
	</wsdl:message>
	<wsdl:message name="InitiateCutSoapOut">
		<wsdl:part name="parameters" element="tns:InitiateCutResponse"/>
	</wsdl:message>
	<wsdl:message name="InitiateDisplayObjectHighlightingSoapIn">
		<wsdl:part name="parameters" element="tns:InitiateDisplayObjectHighlighting"/>
	</wsdl:message>
	<wsdl:message name="InitiateDisplayObjectHighlightingSoapOut">
		<wsdl:part name="parameters" element="tns:InitiateDisplayObjectHighlightingResponse"/>
	</wsdl:message>
	<wsdl:message name="InitiateIncidentEvaluationSoapIn">
		<wsdl:part name="parameters" element="tns:InitiateIncidentEvaluation"/>
	</wsdl:message>
	<wsdl:message name="InitiateIncidentEvaluationSoapOut">
		<wsdl:part name="parameters" element="tns:InitiateIncidentEvaluationResponse"/>
	</wsdl:message>
	<wsdl:message name="LinkAttachmentsToObjectsSoapIn">
		<wsdl:part name="parameters" element="tns:LinkAttachmentsToObjects"/>
	</wsdl:message>
	<wsdl:message name="LinkAttachmentsToObjectsSoapOut">
		<wsdl:part name="parameters" element="tns:LinkAttachmentsToObjectsResponse"/>
	</wsdl:message>
	<wsdl:message name="PingURLSoapIn">
		<wsdl:part name="parameters" element="tns:PingURL"/>
	</wsdl:message>
	<wsdl:message name="PingURLSoapOut">
		<wsdl:part name="parameters" element="tns:PingURLResponse"/>
	</wsdl:message>
	<wsdl:message name="SetCutsRestoredSoapIn">
		<wsdl:part name="parameters" element="tns:SetCutsRestored"/>
	</wsdl:message>
	<wsdl:message name="SetCutsRestoredSoapOut">
		<wsdl:part name="parameters" element="tns:SetCutsRestoredResponse"/>
	</wsdl:message>
	<wsdl:message name="SetOutageETORsSoapIn">
		<wsdl:part name="parameters" element="tns:SetOutageETORs"/>
	</wsdl:message>
	<wsdl:message name="SetOutageETORsSoapOut">
		<wsdl:part name="parameters" element="tns:SetOutageETORsResponse"/>
	</wsdl:message>
	<wsdl:message name="SetOutagesDiscardedSoapIn">
		<wsdl:part name="parameters" element="tns:SetOutagesDiscarded"/>
	</wsdl:message>
	<wsdl:message name="SetOutagesDiscardedSoapOut">
		<wsdl:part name="parameters" element="tns:SetOutagesDiscardedResponse"/>
	</wsdl:message>
	<wsdl:message name="SetOutagesRestoredSoapIn">
		<wsdl:part name="parameters" element="tns:SetOutagesRestored"/>
	</wsdl:message>
	<wsdl:message name="SetOutagesRestoredSoapOut">
		<wsdl:part name="parameters" element="tns:SetOutagesRestoredResponse"/>
	</wsdl:message>
	<wsdl:message name="SetVerifiedElementStatesSoapIn">
		<wsdl:part name="parameters" element="tns:SetVerifiedElementStates"/>
	</wsdl:message>
	<wsdl:message name="SetVerifiedElementStatesSoapOut">
		<wsdl:part name="parameters" element="tns:SetVerifiedElementStatesResponse"/>
	</wsdl:message>
	<wsdl:message name="UnlinkAttachmentsFromObjectsSoapIn">
		<wsdl:part name="parameters" element="tns:UnlinkAttachmentsFromObjects"/>
	</wsdl:message>
	<wsdl:message name="UnlinkAttachmentsFromObjectsSoapOut">
		<wsdl:part name="parameters" element="tns:UnlinkAttachmentsFromObjectsResponse"/>
	</wsdl:message>
	<wsdl:portType name="OA_ServerSoap">
		<wsdl:operation name="GetAccountOutageHistoriesByAccountIDs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests all historical outage information affecting customers, specified by their accountIDs. Note that this method requests all outages that an account has experienced at any of the servicePoints at which they have taken service during the specified time period. The set of outageInstances SHALL be filtered to include all outages that are totally or partly included in the specified date range and SHALL include ONLY outages that have been restored - active outages SHALL NOT be included. Note that a servicePoint is a single meter location.  A customer may have multiple accounts; an account multiple serviceLocations; a serviceLocation multiple servicePoints.</wsdl:documentation>
			<wsdl:input message="tns:GetAccountOutageHistoriesByAccountIDsSoapIn"/>
			<wsdl:output message="tns:GetAccountOutageHistoriesByAccountIDsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetActiveOutageRefs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests the outageRefs for all active outages. The outageRef is a pointer to an outage.  Since outages may be of more than one utility service type (electric, gas, water, etc.) it is necessary to have a pointer that can be used to reference them generically.  
</wsdl:documentation>
			<wsdl:input message="tns:GetActiveOutageRefsSoapIn"/>
			<wsdl:output message="tns:GetActiveOutageRefsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetActiveOutages">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests all of the outage object(s) for all active outages to be returned in the form of an outages container object.  
The OA will return summary information only and will not send detailed outage information; to obtain detailed information, use GetDetailedOutages.</wsdl:documentation>
			<wsdl:input message="tns:GetActiveOutagesSoapIn"/>
			<wsdl:output message="tns:GetActiveOutagesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetActiveVoiceRecordings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests all voice recordings associated with a current outage. The requesting system can store these voice recordings and play them back to callers on demand, based on the objectRef.  In the context of this method, the voiceRecording.objectRef SHALL BE populated with a reference to an outage.
</wsdl:documentation>
			<wsdl:input message="tns:GetActiveVoiceRecordingsSoapIn"/>
			<wsdl:output message="tns:GetActiveVoiceRecordingsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetAllDomains">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all domains supported by a server.</wsdl:documentation>
			<wsdl:input message="tns:GetAllDomainsSoapIn"/>
			<wsdl:output message="tns:GetAllDomainsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetAttachmentsByObjectRefs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests an array of attachments associated with specific objects, given their objectRefs.</wsdl:documentation>
			<wsdl:input message="tns:GetAttachmentsByObjectRefsSoapIn"/>
			<wsdl:output message="tns:GetAttachmentsByObjectRefsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetCustomerOutageHistoriesByCustomerIDs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests all historical outage information affecting customers, specified by their customerIDs. Note that this method requests all outages that a customer has experienced at any of the servicePoints at which they have taken service during the specified time period. The set of outageInstances SHALL be filtered to include all outages that are totally or partly included in the specified date range and SHALL include ONLY outages that have been restored - active outages SHALL NOT be included. Note that a servicePoint is a single meter location.  A customer may have multiple accounts; an account multiple serviceLocations; a serviceLocation multiple servicePoints.  In order to get information about a specific meter location it is necessary to specify the servicePointID.  Once specified, the servicePointID also identifies the affected serviceLocation, account and customer.</wsdl:documentation>
			<wsdl:input message="tns:GetCustomerOutageHistoriesByCustomerIDsSoapIn"/>
			<wsdl:output message="tns:GetCustomerOutageHistoriesByCustomerIDsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetDetailedOutages">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests all of the detailed outage object(s) for all active outages to be returned in the form of an outages container object.  The OA will return all of the detailed outage objects in response to this call. 
</wsdl:documentation>
			<wsdl:input message="tns:GetDetailedOutagesSoapIn"/>
			<wsdl:output message="tns:GetDetailedOutagesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetDetailedOutagesByOutageRefs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests the detailed outages that are referenced by an array of outageRef.</wsdl:documentation>
			<wsdl:input message="tns:GetDetailedOutagesByOutageRefsSoapIn"/>
			<wsdl:output message="tns:GetDetailedOutagesByOutageRefsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetDomainNames">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The client requests from the server a list of names of domains supported by the server. This method is used, along with the GetDomainsByDomainName method to enable systems to exchange information about application-specific or installation-specific lists of information, such as the lists of counties for this installation or the list of serviceStatusCodes used by the server.  The value referred to as being the domainName is the domain.primaryIdentifier element. It is recommended that domain names be returned in the form of the name of a named object (noun) in the MultiSpeak schema dotted with the field name of interest. For instance, if the system of record is returning workFlowStatus identifiers that would be used on designs, it is suggested that the domain name be called design.workflowStatus, using the same spelling and capitalization used in the MultiSpeak schema.Responder returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:GetDomainNamesSoapIn"/>
			<wsdl:output message="tns:GetDomainNamesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetDomainsByDomainNames">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The client requests from the server the members of specific domains of information, identified by the domainName parameter, which are supported by the server. This method is used, along with the GetDomainNames method to enable systems to exchange information about application-specific or installation-specific lists of information, such as the lists of counties for this installation or the list of serviceStatusCodes used by the server.Responder returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:GetDomainsByDomainNamesSoapIn"/>
			<wsdl:output message="tns:GetDomainsByDomainNamesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetElectricOutagesByElectricTopologyElementRefs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the outages, if any, at the electricTopologyElements specified by their objectRefs. If there is no current outages for the circuitElements, then return null.</wsdl:documentation>
			<wsdl:input message="tns:GetElectricOutagesByElectricTopologyElementRefsSoapIn"/>
			<wsdl:output message="tns:GetElectricOutagesByElectricTopologyElementRefsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetIncidentReportsByStatuses">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests the incidentReports that are in the specified incident report statuses.</wsdl:documentation>
			<wsdl:input message="tns:GetIncidentReportsByStatusesSoapIn"/>
			<wsdl:output message="tns:GetIncidentReportsByStatusesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetMetersAffectedByOutages">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests a list of meters that are affected by specified outages.  If the parameter includeSpatialData is included and set to be "true" then the GMLLocation for each affectedMeter SHALL be populated.  If the includeSpatialData parameter is missing or set to be "false", then the GMLLocation element SHALL NOT be populated.</wsdl:documentation>
			<wsdl:input message="tns:GetMetersAffectedByOutagesSoapIn"/>
			<wsdl:output message="tns:GetMetersAffectedByOutagesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetMethods">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requester requests a list of methods supported by Responder.Responder returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:GetMethodsSoapIn"/>
			<wsdl:output message="tns:GetMethodsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetObjectRefsByNounAndPrimaryIdentifiers">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The Requester requests that the server return an array of objectRefs for data instances, specified by primaryIdentifiers, of a specifc noun type for which the server is the system of record.  It is anticipated that in some cases this method might return a large number of records.</wsdl:documentation>
			<wsdl:input message="tns:GetObjectRefsByNounAndPrimaryIdentifiersSoapIn"/>
			<wsdl:output message="tns:GetObjectRefsByNounAndPrimaryIdentifiersSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetOutageLocationStatusesByOutageLocations">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests the current statuses of an array of outages, given the outage locations. The outageLocationReferable object includes the telephone number, account reference, service location identifiers,address and/or GPS location describing the location of the outage.  If a requested outageLocation is not part of a current outage, no outageStatusReferable shall be populated in the returned outageLocationStatusReferable.
Responder returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:GetOutageLocationStatusesByOutageLocationsSoapIn"/>
			<wsdl:output message="tns:GetOutageLocationStatusesByOutageLocationsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetOutageReasonCodes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests the list of outage reason codes used by the OMS implementation.  
Responder returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:GetOutageReasonCodesSoapIn"/>
			<wsdl:output message="tns:GetOutageReasonCodesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetOutagesByDate">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests outages within a range of times.</wsdl:documentation>
			<wsdl:input message="tns:GetOutagesByDateSoapIn"/>
			<wsdl:output message="tns:GetOutagesByDateSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetOutagesByOutageRefs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests the outages for the given outageRefs. These can be either active or a historical outage events. The outageRef is a pointer to an outage object.  Note that it is necessary to use an outageRef since there may be more than one type of outage (electricOutage, gasOutage, waterOutage, etc.).  The OA will return summary information only and will not send detailed outage information; to obtain detailed information, use GetDetailedOutages. 
</wsdl:documentation>
			<wsdl:input message="tns:GetOutagesByOutageRefsSoapIn"/>
			<wsdl:output message="tns:GetOutagesByOutageRefsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetOutageStatuses">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests the current statuses of an array of outages, given the outageRefs. The outageRef is a pointer to an outage obtained earlier by calling either GetActiveOutages, GetActiveOutageRefs or GetDetailedOutages.  
</wsdl:documentation>
			<wsdl:input message="tns:GetOutageStatusesSoapIn"/>
			<wsdl:output message="tns:GetOutageStatusesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetServiceLocationsAffectedByOutages">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests a list of customer serviceLocations that are affected by specified outages.  If the parameter includeSpatialData is included and set to be "true" then the GMLLocation for each affectedServicePoint SHALL be populated.  If the includeSpatialData parameter is missing or set to be "false", then the GMLLocation element SHALL NOT be populated.</wsdl:documentation>
			<wsdl:input message="tns:GetServiceLocationsAffectedByOutagesSoapIn"/>
			<wsdl:output message="tns:GetServiceLocationsAffectedByOutagesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetServicePointOutageDurationsByDateRange">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests the durations of outages on service points during a specified time period, expressed in the form of servicePointOutageDurations objects.  Each servicePointOutageDurations object corresponds to one outage event that ocurred during the stated time period. The servicePointOutageDurations objects SHALL be filtered to include all outages that are totally or partly included in the specified date range and SHALL include ONLY outages that have been restored - active outages SHALL NOT be included. Note that a servicePoint is a single meter location and may experience multiple outage periods during any single outage event.</wsdl:documentation>
			<wsdl:input message="tns:GetServicePointOutageDurationsByDateRangeSoapIn"/>
			<wsdl:output message="tns:GetServicePointOutageDurationsByDateRangeSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetServicePointOutageDurationsByDateRangeAndServicePointIDs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests the durations of outages on specified service points during a specified time period, expressed in the form of servicePointOutageDurations objects.  Each servicePointOutageDurations object corresponds to one outage event that ocurred during the stated time period. The servicePointOutageDurations objects SHALL be filtered to include all outages that are totally or partly included in the specified date range and SHALL include ONLY outages that have been restored - active outages SHALL NOT be included. Note that a servicePoint is a single meter location and may experience multiple outage periods during any single outage event.</wsdl:documentation>
			<wsdl:input message="tns:GetServicePointOutageDurationsByDateRangeAndServicePointIDsSoapIn"/>
			<wsdl:output message="tns:GetServicePointOutageDurationsByDateRangeAndServicePointIDsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetServicePointOutageHistoriesByServicePointIDs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests all historical outage information affecting servicePoints, specified by their servicePointIDs. The set of outageInstances SHALL be filtered to include all outages that are totally or partly included in the specified date range and SHALL include ONLY outages that have been restored - active outages SHALL NOT be included. Note that a servicePoint is a single meter location.  A customer may have multiple accounts; an account multiple serviceLocations; a serviceLocation multiple servicePoints.  In order to get information about a specific meter location it is necessary to specify the servicePointID.  Once specified, the servicePointID also identifies the affected serviceLocation, account and customer.</wsdl:documentation>
			<wsdl:input message="tns:GetServicePointOutageHistoriesByServicePointIDsSoapIn"/>
			<wsdl:output message="tns:GetServicePointOutageHistoriesByServicePointIDsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetServicePointsAffectedByOutages">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests a list of customer servicePoints that are affected by specified outages.  If the parameter includeSpatialData is included and set to be "true" then the GMLLocation for each affectedServicePoint SHALL be populated.  If the includeSpatialData parameter is missing or set to be "false", then the GMLLocation element SHALL NOT be populated.</wsdl:documentation>
			<wsdl:input message="tns:GetServicePointsAffectedByOutagesSoapIn"/>
			<wsdl:output message="tns:GetServicePointsAffectedByOutagesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetSpatialFeaturesNearLatLongs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests information about spatial features that lie within the distance tolerance of the location expressed in latitude and longitude. If many features are found within the distance tolerance, then the server shall return the maximum number of features expressed as numFeatures. If it is necessary to drop some features, the server should drop those furthest from the latitude/longitude location specified in the calling parameter list. 
</wsdl:documentation>
			<wsdl:input message="tns:GetSpatialFeaturesNearLatLongsSoapIn"/>
			<wsdl:output message="tns:GetSpatialFeaturesNearLatLongsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="InitiateCut">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sender notifies Receiver of a power line cut.  In the context of this method, the cut being added is sent as part of a switchingDeviceBank.</wsdl:documentation>
			<wsdl:input message="tns:InitiateCutSoapIn"/>
			<wsdl:output message="tns:InitiateCutSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="InitiateDisplayObjectHighlighting">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">One of two related systems (Requester) requests the other system (Server) to navigate its display to view a specified device and change its focus to that device.  It is anticipated that the two related systems are an outage management system and a SCADA system and that a dispatcher has one display from each system in his/her work area.  Completion of this command permits the dispatcher working on the requesting system to change the focus of the related system to the device chosen in the requesting system.Receiver returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:InitiateDisplayObjectHighlightingSoapIn"/>
			<wsdl:output message="tns:InitiateDisplayObjectHighlightingSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="InitiateIncidentEvaluation">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The Requester requests that the receiver attempt to determine the reason for the incident being reported by a human incident reporter.  Information about the incident will be returned to the Requester using a subsequent IncidentEvaluationNotification. The incidentEvaluation will include an incidentResult that specifies one of the following about the reported incident: [Unknown | FunctioningProperly | DisconnectedForCause | OutageCreated | ExistingOutage |Other].</wsdl:documentation>
			<wsdl:input message="tns:InitiateIncidentEvaluationSoapIn"/>
			<wsdl:output message="tns:InitiateIncidentEvaluationSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="LinkAttachmentsToObjects">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sender requests that receiver link the provided attachments to objects specified by their objectRefs.Receiver returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:LinkAttachmentsToObjectsSoapIn"/>
			<wsdl:output message="tns:LinkAttachmentsToObjectsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="PingURL">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requester pings URL of Responder to determine its readiness to respond.Receiver returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:PingURLSoapIn"/>
			<wsdl:output message="tns:PingURLSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="SetCutsRestored">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sender notifies receiver of a cut that should be restored.</wsdl:documentation>
			<wsdl:input message="tns:SetCutsRestoredSoapIn"/>
			<wsdl:output message="tns:SetCutsRestoredSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="SetOutageETORs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sender notifies receiver that the estimated time to restoration (ETOR) of outages should be modified.</wsdl:documentation>
			<wsdl:input message="tns:SetOutageETORsSoapIn"/>
			<wsdl:output message="tns:SetOutageETORsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="SetOutagesDiscarded">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Publisher notifies subscriber of an array of outages that should be discarded, given an outageRef. Typically, an outage is discarded when it was created mistakenly or was created during training and should not be considered as an actual outage. The string dispatcherResponsible should contain the name or identifier for the dispatcher that issued this command and is included for logging purposes.</wsdl:documentation>
			<wsdl:input message="tns:SetOutagesDiscardedSoapIn"/>
			<wsdl:output message="tns:SetOutagesDiscardedSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="SetOutagesRestored">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sender notifies receiver of outages that should be denoted as being restored.</wsdl:documentation>
			<wsdl:input message="tns:SetOutagesRestoredSoapIn"/>
			<wsdl:output message="tns:SetOutagesRestoredSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="SetVerifiedElementStates">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method allows a dispatcher or WorkPerformer system to verify or restore any circuit element by phase. This controls how the outage analysis behaves if the outage is assumed. It also allows for connectivity changes or backfeeds by performing switching operations.</wsdl:documentation>
			<wsdl:input message="tns:SetVerifiedElementStatesSoapIn"/>
			<wsdl:output message="tns:SetVerifiedElementStatesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="UnlinkAttachmentsFromObjects">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sender notifies receiver that attachments, specified by attachmentID, which is the objectID of the attachment to be unlinked from the referenced object. It is up to the receiver of this method to determine, according to its business rules, whether the attachment should be deleted or retained after it is unlinked.Receiver returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:UnlinkAttachmentsFromObjectsSoapIn"/>
			<wsdl:output message="tns:UnlinkAttachmentsFromObjectsSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OA_ServerSoap" type="tns:OA_ServerSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetAccountOutageHistoriesByAccountIDs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetAccountOutageHistoriesByAccountIDs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetActiveOutageRefs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetActiveOutageRefs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetActiveOutages">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetActiveOutages" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetActiveVoiceRecordings">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetActiveVoiceRecordings" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllDomains">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetAllDomains" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAttachmentsByObjectRefs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetAttachmentsByObjectRefs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCustomerOutageHistoriesByCustomerIDs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetCustomerOutageHistoriesByCustomerIDs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDetailedOutages">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetDetailedOutages" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDetailedOutagesByOutageRefs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetDetailedOutagesByOutageRefs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDomainNames">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetDomainNames" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDomainsByDomainNames">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetDomainsByDomainNames" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetElectricOutagesByElectricTopologyElementRefs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetElectricOutagesByElectricTopologyElementRefs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetIncidentReportsByStatuses">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetIncidentReportsByStatuses" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMetersAffectedByOutages">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetMetersAffectedByOutages" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMethods">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetMethods" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetObjectRefsByNounAndPrimaryIdentifiers">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetObjectRefsByNounAndPrimaryIdentifiers" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOutageLocationStatusesByOutageLocations">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetOutageLocationStatusesByOutageLocations" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOutageReasonCodes">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetOutageReasonCodes" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOutagesByDate">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetOutagesByDate" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOutagesByOutageRefs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetOutagesByOutageRefs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOutageStatuses">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetOutageStatuses" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServiceLocationsAffectedByOutages">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetServiceLocationsAffectedByOutages" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServicePointOutageDurationsByDateRange">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetServicePointOutageDurationsByDateRange" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServicePointOutageDurationsByDateRangeAndServicePointIDs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetServicePointOutageDurationsByDateRangeAndServicePointIDs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServicePointOutageHistoriesByServicePointIDs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetServicePointOutageHistoriesByServicePointIDs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServicePointsAffectedByOutages">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetServicePointsAffectedByOutages" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSpatialFeaturesNearLatLongs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetSpatialFeaturesNearLatLongs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InitiateCut">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/InitiateCut" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InitiateDisplayObjectHighlighting">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/InitiateDisplayObjectHighlighting" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InitiateIncidentEvaluation">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/InitiateIncidentEvaluation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LinkAttachmentsToObjects">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/LinkAttachmentsToObjects" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PingURL">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/PingURL" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetCutsRestored">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/SetCutsRestored" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetOutageETORs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/SetOutageETORs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetOutagesDiscarded">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/SetOutagesDiscarded" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetOutagesRestored">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/SetOutagesRestored" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetVerifiedElementStates">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/SetVerifiedElementStates" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UnlinkAttachmentsFromObjects">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/UnlinkAttachmentsFromObjects" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OA_Server">
		<wsdl:port name="OA_ServerSoap" binding="tns:OA_ServerSoap">
			<soap:address location="http://www.msp5.0.example.org"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
