yukon-client/multispeak/src/com/cannontech/multispeak/wsdl/v5/OD_Server.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:request="http://www.multispeak.org/V5.0/ws/request" xmlns:response="http://www.multispeak.org/V5.0/ws/response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.multispeak.org/V5.0/wsdl/OD_Server" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns8="http://docs.oasis-open.org/wsrf/bf-2" xmlns:ns9="http://www.w3.org/2005/08/addressing" targetNamespace="http://www.multispeak.org/V5.0/wsdl/OD_Server">
	<wsdl:types>
		<s:schema>
			<s:import namespace="http://www.multispeak.org/V5.0/ws/request" schemaLocation="../../xsd/MultiSpeakWebServicesRequestMsgHeader.xsd"/>
			<s:import namespace="http://www.multispeak.org/V5.0/ws/response" schemaLocation="../../xsd/MultiSpeakWebServicesResponseMsgHeader.xsd"/>
		</s:schema>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.multispeak.org/V5.0/wsdl/OD_Server">
			<s:include schemaLocation="OD_Server.xsd"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="MultiSpeakResponseMsgHeader">
		<wsdl:part name="MultiSpeakResponseMsgHeader" element="response:MultiSpeakResponseMsgHeader"/>
	</wsdl:message>
	<wsdl:message name="MultiSpeakRequestMsgHeader">
		<wsdl:part name="MultiSpeakRequestMsgHeader" element="request:MultiSpeakRequestMsgHeader"/>
	</wsdl:message>
	<wsdl:message name="GetAllDomainsSoapIn">
		<wsdl:part name="parameters" element="tns:GetAllDomains"/>
	</wsdl:message>
	<wsdl:message name="GetAllDomainsSoapOut">
		<wsdl:part name="parameters" element="tns:GetAllDomainsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentsByObjectRefsSoapIn">
		<wsdl:part name="parameters" element="tns:GetAttachmentsByObjectRefs"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentsByObjectRefsSoapOut">
		<wsdl:part name="parameters" element="tns:GetAttachmentsByObjectRefsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetDomainNamesSoapIn">
		<wsdl:part name="parameters" element="tns:GetDomainNames"/>
	</wsdl:message>
	<wsdl:message name="GetDomainNamesSoapOut">
		<wsdl:part name="parameters" element="tns:GetDomainNamesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetDomainsByDomainNamesSoapIn">
		<wsdl:part name="parameters" element="tns:GetDomainsByDomainNames"/>
	</wsdl:message>
	<wsdl:message name="GetDomainsByDomainNamesSoapOut">
		<wsdl:part name="parameters" element="tns:GetDomainsByDomainNamesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetMeterIDsByEndDeviceStateTypesSoapIn">
		<wsdl:part name="parameters" element="tns:GetMeterIDsByEndDeviceStateTypes"/>
	</wsdl:message>
	<wsdl:message name="GetMeterIDsByEndDeviceStateTypesSoapOut">
		<wsdl:part name="parameters" element="tns:GetMeterIDsByEndDeviceStateTypesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetMethodsSoapIn">
		<wsdl:part name="parameters" element="tns:GetMethods"/>
	</wsdl:message>
	<wsdl:message name="GetMethodsSoapOut">
		<wsdl:part name="parameters" element="tns:GetMethodsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetObjectRefsByNounAndPrimaryIdentifiersSoapIn">
		<wsdl:part name="parameters" element="tns:GetObjectRefsByNounAndPrimaryIdentifiers"/>
	</wsdl:message>
	<wsdl:message name="GetObjectRefsByNounAndPrimaryIdentifiersSoapOut">
		<wsdl:part name="parameters" element="tns:GetObjectRefsByNounAndPrimaryIdentifiersResponse"/>
	</wsdl:message>
	<wsdl:message name="InitiateEndDevicePingsSoapIn">
		<wsdl:part name="parameters" element="tns:InitiateEndDevicePings"/>
	</wsdl:message>
	<wsdl:message name="InitiateEndDevicePingsSoapOut">
		<wsdl:part name="parameters" element="tns:InitiateEndDevicePingsResponse"/>
	</wsdl:message>
	<wsdl:message name="LinkAttachmentsToObjectsSoapIn">
		<wsdl:part name="parameters" element="tns:LinkAttachmentsToObjects"/>
	</wsdl:message>
	<wsdl:message name="LinkAttachmentsToObjectsSoapOut">
		<wsdl:part name="parameters" element="tns:LinkAttachmentsToObjectsResponse"/>
	</wsdl:message>
	<wsdl:message name="PingURLSoapIn">
		<wsdl:part name="parameters" element="tns:PingURL"/>
	</wsdl:message>
	<wsdl:message name="PingURLSoapOut">
		<wsdl:part name="parameters" element="tns:PingURLResponse"/>
	</wsdl:message>
	<wsdl:message name="UnlinkAttachmentsFromObjectsSoapIn">
		<wsdl:part name="parameters" element="tns:UnlinkAttachmentsFromObjects"/>
	</wsdl:message>
	<wsdl:message name="UnlinkAttachmentsFromObjectsSoapOut">
		<wsdl:part name="parameters" element="tns:UnlinkAttachmentsFromObjectsResponse"/>
	</wsdl:message>
	<wsdl:portType name="OD_ServerSoap">
		<wsdl:operation name="GetAllDomains">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all domains supported by a server.</wsdl:documentation>
			<wsdl:input message="tns:GetAllDomainsSoapIn"/>
			<wsdl:output message="tns:GetAllDomainsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetAttachmentsByObjectRefs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests an array of attachments associated with specific objects, given their objectRefs.</wsdl:documentation>
			<wsdl:input message="tns:GetAttachmentsByObjectRefsSoapIn"/>
			<wsdl:output message="tns:GetAttachmentsByObjectRefsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetDomainNames">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The client requests from the server a list of names of domains supported by the server. This method is used, along with the GetDomainsByDomainName method to enable systems to exchange information about application-specific or installation-specific lists of information, such as the lists of counties for this installation or the list of serviceStatusCodes used by the server.  The value referred to as being the domainName is the domain.primaryIdentifier element. It is recommended that domain names be returned in the form of the name of a named object (noun) in the MultiSpeak schema dotted with the field name of interest. For instance, if the system of record is returning workFlowStatus identifiers that would be used on designs, it is suggested that the domain name be called design.workflowStatus, using the same spelling and capitalization used in the MultiSpeak schema.Responder returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:GetDomainNamesSoapIn"/>
			<wsdl:output message="tns:GetDomainNamesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetDomainsByDomainNames">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The client requests from the server the members of specific domains of information, identified by the domainName parameter, which are supported by the server. This method is used, along with the GetDomainNames method to enable systems to exchange information about application-specific or installation-specific lists of information, such as the lists of counties for this installation or the list of serviceStatusCodes used by the server.Responder returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:GetDomainsByDomainNamesSoapIn"/>
			<wsdl:output message="tns:GetDomainsByDomainNamesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetMeterIDsByEndDeviceStateTypes">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests the identifiers for meters that are currently in a specific state, by specifying an array of endDeviceStateType. 
Responder returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:GetMeterIDsByEndDeviceStateTypesSoapIn"/>
			<wsdl:output message="tns:GetMeterIDsByEndDeviceStateTypesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetMethods">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requester requests a list of methods supported by Responder.Responder returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:GetMethodsSoapIn"/>
			<wsdl:output message="tns:GetMethodsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetObjectRefsByNounAndPrimaryIdentifiers">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The Requester requests that the server return an array of objectRefs for data instances, specified by primaryIdentifiers, of a specifc noun type for which the server is the system of record.  It is anticipated that in some cases this method might return a large number of records.</wsdl:documentation>
			<wsdl:input message="tns:GetObjectRefsByNounAndPrimaryIdentifiersSoapIn"/>
			<wsdl:output message="tns:GetObjectRefsByNounAndPrimaryIdentifiersSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="InitiateEndDevicePings">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requester requests that receiver determine the outage state of a set of meters; this is sometimes referred to as "pinging" the meters.  The requester specified which devices are to be pinged by sending an array of objectRefs.  The objectRef can be used to point to any device defined in MultiSpeak, including a meter of any of the defined meter types (electricMeter, gasMeter, waterMeter, etc).</wsdl:documentation>
			<wsdl:input message="tns:InitiateEndDevicePingsSoapIn"/>
			<wsdl:output message="tns:InitiateEndDevicePingsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="LinkAttachmentsToObjects">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sender requests that receiver link the provided attachments to objects specified by their objectRefs.Receiver returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:LinkAttachmentsToObjectsSoapIn"/>
			<wsdl:output message="tns:LinkAttachmentsToObjectsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="PingURL">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requester pings URL of Responder to determine its readiness to respond.Receiver returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:PingURLSoapIn"/>
			<wsdl:output message="tns:PingURLSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="UnlinkAttachmentsFromObjects">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sender notifies receiver that attachments, specified by attachmentID, which is the objectID of the attachment to be unlinked from the referenced object. It is up to the receiver of this method to determine, according to its business rules, whether the attachment should be deleted or retained after it is unlinked.Receiver returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:UnlinkAttachmentsFromObjectsSoapIn"/>
			<wsdl:output message="tns:UnlinkAttachmentsFromObjectsSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OD_ServerSoap" type="tns:OD_ServerSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetAllDomains">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetAllDomains" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAttachmentsByObjectRefs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetAttachmentsByObjectRefs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDomainNames">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetDomainNames" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDomainsByDomainNames">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetDomainsByDomainNames" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMeterIDsByEndDeviceStateTypes">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetMeterIDsByEndDeviceStateTypes" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMethods">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetMethods" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetObjectRefsByNounAndPrimaryIdentifiers">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetObjectRefsByNounAndPrimaryIdentifiers" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InitiateEndDevicePings">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/InitiateEndDevicePings" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LinkAttachmentsToObjects">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/LinkAttachmentsToObjects" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PingURL">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/PingURL" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UnlinkAttachmentsFromObjects">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/UnlinkAttachmentsFromObjects" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OD_Server">
		<wsdl:port name="OD_ServerSoap" binding="tns:OD_ServerSoap">
			<soap:address location="http://www.msp5.0.example.org"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
