yukon-client/multispeak/src/com/cannontech/multispeak/wsdl/v5/SCADA_Server.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:request="http://www.multispeak.org/V5.0/ws/request" xmlns:response="http://www.multispeak.org/V5.0/ws/response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.multispeak.org/V5.0/wsdl/SCADA_Server" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns8="http://docs.oasis-open.org/wsrf/bf-2" xmlns:ns9="http://www.w3.org/2005/08/addressing" targetNamespace="http://www.multispeak.org/V5.0/wsdl/SCADA_Server">
	<wsdl:types>
		<s:schema>
			<s:import namespace="http://www.multispeak.org/V5.0/ws/request" schemaLocation="../../xsd/MultiSpeakWebServicesRequestMsgHeader.xsd"/>
			<s:import namespace="http://www.multispeak.org/V5.0/ws/response" schemaLocation="../../xsd/MultiSpeakWebServicesResponseMsgHeader.xsd"/>
		</s:schema>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.multispeak.org/V5.0/wsdl/SCADA_Server">
			<s:include schemaLocation="SCADA_Server.xsd"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="MultiSpeakResponseMsgHeader">
		<wsdl:part name="MultiSpeakResponseMsgHeader" element="response:MultiSpeakResponseMsgHeader"/>
	</wsdl:message>
	<wsdl:message name="MultiSpeakRequestMsgHeader">
		<wsdl:part name="MultiSpeakRequestMsgHeader" element="request:MultiSpeakRequestMsgHeader"/>
	</wsdl:message>
	<wsdl:message name="GetAllDomainsSoapIn">
		<wsdl:part name="parameters" element="tns:GetAllDomains"/>
	</wsdl:message>
	<wsdl:message name="GetAllDomainsSoapOut">
		<wsdl:part name="parameters" element="tns:GetAllDomainsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAllSCADAPointsSoapIn">
		<wsdl:part name="parameters" element="tns:GetAllSCADAPoints"/>
	</wsdl:message>
	<wsdl:message name="GetAllSCADAPointsSoapOut">
		<wsdl:part name="parameters" element="tns:GetAllSCADAPointsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentsByObjectRefsSoapIn">
		<wsdl:part name="parameters" element="tns:GetAttachmentsByObjectRefs"/>
	</wsdl:message>
	<wsdl:message name="GetAttachmentsByObjectRefsSoapOut">
		<wsdl:part name="parameters" element="tns:GetAttachmentsByObjectRefsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetDomainNamesSoapIn">
		<wsdl:part name="parameters" element="tns:GetDomainNames"/>
	</wsdl:message>
	<wsdl:message name="GetDomainNamesSoapOut">
		<wsdl:part name="parameters" element="tns:GetDomainNamesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetDomainsByDomainNamesSoapIn">
		<wsdl:part name="parameters" element="tns:GetDomainsByDomainNames"/>
	</wsdl:message>
	<wsdl:message name="GetDomainsByDomainNamesSoapOut">
		<wsdl:part name="parameters" element="tns:GetDomainsByDomainNamesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetFormattedBlockTemplatesSoapIn">
		<wsdl:part name="parameters" element="tns:GetFormattedBlockTemplates"/>
	</wsdl:message>
	<wsdl:message name="GetFormattedBlockTemplatesSoapOut">
		<wsdl:part name="parameters" element="tns:GetFormattedBlockTemplatesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetLatestSCADAAnalogsSoapIn">
		<wsdl:part name="parameters" element="tns:GetLatestSCADAAnalogs"/>
	</wsdl:message>
	<wsdl:message name="GetLatestSCADAAnalogsSoapOut">
		<wsdl:part name="parameters" element="tns:GetLatestSCADAAnalogsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetLatestSCADAStatusesSoapIn">
		<wsdl:part name="parameters" element="tns:GetLatestSCADAStatuses"/>
	</wsdl:message>
	<wsdl:message name="GetLatestSCADAStatusesSoapOut">
		<wsdl:part name="parameters" element="tns:GetLatestSCADAStatusesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetMethodsSoapIn">
		<wsdl:part name="parameters" element="tns:GetMethods"/>
	</wsdl:message>
	<wsdl:message name="GetMethodsSoapOut">
		<wsdl:part name="parameters" element="tns:GetMethodsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetObjectRefsByNounAndPrimaryIdentifiersSoapIn">
		<wsdl:part name="parameters" element="tns:GetObjectRefsByNounAndPrimaryIdentifiers"/>
	</wsdl:message>
	<wsdl:message name="GetObjectRefsByNounAndPrimaryIdentifiersSoapOut">
		<wsdl:part name="parameters" element="tns:GetObjectRefsByNounAndPrimaryIdentifiersResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSCADAAnalogsByDateRangeAndPointIDsSoapIn">
		<wsdl:part name="parameters" element="tns:GetSCADAAnalogsByDateRangeAndPointIDs"/>
	</wsdl:message>
	<wsdl:message name="GetSCADAAnalogsByDateRangeAndPointIDsSoapOut">
		<wsdl:part name="parameters" element="tns:GetSCADAAnalogsByDateRangeAndPointIDsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSCADAAnalogsByDateRangeAndPointIDsFormattedBlocksSoapIn">
		<wsdl:part name="parameters" element="tns:GetSCADAAnalogsByDateRangeAndPointIDsFormattedBlocks"/>
	</wsdl:message>
	<wsdl:message name="GetSCADAAnalogsByDateRangeAndPointIDsFormattedBlocksSoapOut">
		<wsdl:part name="parameters" element="tns:GetSCADAAnalogsByDateRangeAndPointIDsFormattedBlocksResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSCADAPointCollectionChangesSoapIn">
		<wsdl:part name="parameters" element="tns:GetSCADAPointCollectionChanges"/>
	</wsdl:message>
	<wsdl:message name="GetSCADAPointCollectionChangesSoapOut">
		<wsdl:part name="parameters" element="tns:GetSCADAPointCollectionChangesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSCADAPointsByTypeSoapIn">
		<wsdl:part name="parameters" element="tns:GetSCADAPointsByType"/>
	</wsdl:message>
	<wsdl:message name="GetSCADAPointsByTypeSoapOut">
		<wsdl:part name="parameters" element="tns:GetSCADAPointsByTypeResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSCADAStatusesByDateRangeAndPointIDsSoapIn">
		<wsdl:part name="parameters" element="tns:GetSCADAStatusesByDateRangeAndPointIDs"/>
	</wsdl:message>
	<wsdl:message name="GetSCADAStatusesByDateRangeAndPointIDsSoapOut">
		<wsdl:part name="parameters" element="tns:GetSCADAStatusesByDateRangeAndPointIDsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetSCADAStatusesByDateRangeAndPointIDsFormattedBlockSoapIn">
		<wsdl:part name="parameters" element="tns:GetSCADAStatusesByDateRangeAndPointIDsFormattedBlock"/>
	</wsdl:message>
	<wsdl:message name="GetSCADAStatusesByDateRangeAndPointIDsFormattedBlockSoapOut">
		<wsdl:part name="parameters" element="tns:GetSCADAStatusesByDateRangeAndPointIDsFormattedBlockResponse"/>
	</wsdl:message>
	<wsdl:message name="InitiateControlSoapIn">
		<wsdl:part name="parameters" element="tns:InitiateControl"/>
	</wsdl:message>
	<wsdl:message name="InitiateControlSoapOut">
		<wsdl:part name="parameters" element="tns:InitiateControlResponse"/>
	</wsdl:message>
	<wsdl:message name="InitiateDisplayObjectHighlightingSoapIn">
		<wsdl:part name="parameters" element="tns:InitiateDisplayObjectHighlighting"/>
	</wsdl:message>
	<wsdl:message name="InitiateDisplayObjectHighlightingSoapOut">
		<wsdl:part name="parameters" element="tns:InitiateDisplayObjectHighlightingResponse"/>
	</wsdl:message>
	<wsdl:message name="InitiateSCADAAnalogReadsByPointIDsSoapIn">
		<wsdl:part name="parameters" element="tns:InitiateSCADAAnalogReadsByPointIDs"/>
	</wsdl:message>
	<wsdl:message name="InitiateSCADAAnalogReadsByPointIDsSoapOut">
		<wsdl:part name="parameters" element="tns:InitiateSCADAAnalogReadsByPointIDsResponse"/>
	</wsdl:message>
	<wsdl:message name="InitiateSCADAPointSubscriptionSoapIn">
		<wsdl:part name="parameters" element="tns:InitiateSCADAPointSubscription"/>
	</wsdl:message>
	<wsdl:message name="InitiateSCADAPointSubscriptionSoapOut">
		<wsdl:part name="parameters" element="tns:InitiateSCADAPointSubscriptionResponse"/>
	</wsdl:message>
	<wsdl:message name="InitiateSCADAStatusReadsByPointIDsSoapIn">
		<wsdl:part name="parameters" element="tns:InitiateSCADAStatusReadsByPointIDs"/>
	</wsdl:message>
	<wsdl:message name="InitiateSCADAStatusReadsByPointIDsSoapOut">
		<wsdl:part name="parameters" element="tns:InitiateSCADAStatusReadsByPointIDsResponse"/>
	</wsdl:message>
	<wsdl:message name="LinkAttachmentsToObjectsSoapIn">
		<wsdl:part name="parameters" element="tns:LinkAttachmentsToObjects"/>
	</wsdl:message>
	<wsdl:message name="LinkAttachmentsToObjectsSoapOut">
		<wsdl:part name="parameters" element="tns:LinkAttachmentsToObjectsResponse"/>
	</wsdl:message>
	<wsdl:message name="PingURLSoapIn">
		<wsdl:part name="parameters" element="tns:PingURL"/>
	</wsdl:message>
	<wsdl:message name="PingURLSoapOut">
		<wsdl:part name="parameters" element="tns:PingURLResponse"/>
	</wsdl:message>
	<wsdl:message name="UnlinkAttachmentsFromObjectsSoapIn">
		<wsdl:part name="parameters" element="tns:UnlinkAttachmentsFromObjects"/>
	</wsdl:message>
	<wsdl:message name="UnlinkAttachmentsFromObjectsSoapOut">
		<wsdl:part name="parameters" element="tns:UnlinkAttachmentsFromObjectsResponse"/>
	</wsdl:message>
	<wsdl:portType name="SCADA_ServerSoap">
		<wsdl:operation name="GetAllDomains">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all domains supported by a server.</wsdl:documentation>
			<wsdl:input message="tns:GetAllDomainsSoapIn"/>
			<wsdl:output message="tns:GetAllDomainsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetAllSCADAPoints">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests a list of SCADA point definitions.</wsdl:documentation>
			<wsdl:input message="tns:GetAllSCADAPointsSoapIn"/>
			<wsdl:output message="tns:GetAllSCADAPointsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetAttachmentsByObjectRefs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests an array of attachments associated with specific objects, given their objectRefs.</wsdl:documentation>
			<wsdl:input message="tns:GetAttachmentsByObjectRefsSoapIn"/>
			<wsdl:output message="tns:GetAttachmentsByObjectRefsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetDomainNames">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The client requests from the server a list of names of domains supported by the server. This method is used, along with the GetDomainsByDomainName method to enable systems to exchange information about application-specific or installation-specific lists of information, such as the lists of counties for this installation or the list of serviceStatusCodes used by the server.  The value referred to as being the domainName is the domain.primaryIdentifier element. It is recommended that domain names be returned in the form of the name of a named object (noun) in the MultiSpeak schema dotted with the field name of interest. For instance, if the system of record is returning workFlowStatus identifiers that would be used on designs, it is suggested that the domain name be called design.workflowStatus, using the same spelling and capitalization used in the MultiSpeak schema.Responder returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:GetDomainNamesSoapIn"/>
			<wsdl:output message="tns:GetDomainNamesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetDomainsByDomainNames">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The client requests from the server the members of specific domains of information, identified by the domainName parameter, which are supported by the server. This method is used, along with the GetDomainNames method to enable systems to exchange information about application-specific or installation-specific lists of information, such as the lists of counties for this installation or the list of serviceStatusCodes used by the server.Responder returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:GetDomainsByDomainNamesSoapIn"/>
			<wsdl:output message="tns:GetDomainsByDomainNamesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetFormattedBlockTemplates">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests the templates for formattedBlocks that the server supports.</wsdl:documentation>
			<wsdl:input message="tns:GetFormattedBlockTemplatesSoapIn"/>
			<wsdl:output message="tns:GetFormattedBlockTemplatesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetLatestSCADAAnalogs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests the most recent SCADA Analogs for all SCADA analog points.</wsdl:documentation>
			<wsdl:input message="tns:GetLatestSCADAAnalogsSoapIn"/>
			<wsdl:output message="tns:GetLatestSCADAAnalogsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetLatestSCADAStatuses">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests the most recent SCADA statuses for all SCADA Status points.</wsdl:documentation>
			<wsdl:input message="tns:GetLatestSCADAStatusesSoapIn"/>
			<wsdl:output message="tns:GetLatestSCADAStatusesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetMethods">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requester requests a list of methods supported by Responder.Responder returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:GetMethodsSoapIn"/>
			<wsdl:output message="tns:GetMethodsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetObjectRefsByNounAndPrimaryIdentifiers">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The Requester requests that the server return an array of objectRefs for data instances, specified by primaryIdentifiers, of a specifc noun type for which the server is the system of record.  It is anticipated that in some cases this method might return a large number of records.</wsdl:documentation>
			<wsdl:input message="tns:GetObjectRefsByNounAndPrimaryIdentifiersSoapIn"/>
			<wsdl:output message="tns:GetObjectRefsByNounAndPrimaryIdentifiersSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetSCADAAnalogsByDateRangeAndPointIDs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests history records for a specific SCADA Analog by SCADAPointID within a range of times. If the server cannot provide the data at the requested sample rate, it should provide what it has.</wsdl:documentation>
			<wsdl:input message="tns:GetSCADAAnalogsByDateRangeAndPointIDsSoapIn"/>
			<wsdl:output message="tns:GetSCADAAnalogsByDateRangeAndPointIDsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetSCADAAnalogsByDateRangeAndPointIDsFormattedBlocks">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns history records for a specific SCADA Analog by SCADAPointID within a range of times. The data are returned in one or more formattedBlocks. If the server cannot provide the data at the requested sample rate, it should provide what it has.  The requestor may specify a preferred format for the returned formattedBlock using the formattedBlockTemplateID parameter.  If the publisher supports this template, the data should be returned in that format; if not the publisher should still return the data, but in its preferred formattedBlockTemplate format.</wsdl:documentation>
			<wsdl:input message="tns:GetSCADAAnalogsByDateRangeAndPointIDsFormattedBlocksSoapIn"/>
			<wsdl:output message="tns:GetSCADAAnalogsByDateRangeAndPointIDsFormattedBlocksSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetSCADAPointCollectionChanges">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests a list of SCADA Point definitions that have been modified since the time of a previousDataSetID, which is specified in the message header.  SCADAPoints that have been created since the previous data set was sent SHALL be included in the created container. SCADAPoints that have been changed since the previous data set SHALL be included in the changed container and objectDeletions SHALL be included in the deleted container for SCADAPoints that have been deleted by the system of record. The requester may choose whether or not to actually delete data records in its system, based on its own business rules. The element MultiSpeakRequestMsgHeader.DataSetState.RequestDataSetState.PreviousDataSetID SHALL be populated with an appropriate data set identifier.</wsdl:documentation>
			<wsdl:input message="tns:GetSCADAPointCollectionChangesSoapIn"/>
			<wsdl:output message="tns:GetSCADAPointCollectionChangesSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetSCADAPointsByType">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests all SCADAPoint objects for SCADAPoints with the specified SCADAPointType (Analog, Status, Accumulator or Other).</wsdl:documentation>
			<wsdl:input message="tns:GetSCADAPointsByTypeSoapIn"/>
			<wsdl:output message="tns:GetSCADAPointsByTypeSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetSCADAStatusesByDateRangeAndPointIDs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests history records for specific SCADA Status points by SCADAPointID within a range of times. If the server cannot provide the data at the requested sample rate, it should provide what it has.</wsdl:documentation>
			<wsdl:input message="tns:GetSCADAStatusesByDateRangeAndPointIDsSoapIn"/>
			<wsdl:output message="tns:GetSCADAStatusesByDateRangeAndPointIDsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetSCADAStatusesByDateRangeAndPointIDsFormattedBlock">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns history records for a specific SCADA Status by SCADAPointID within a range of times. The data are returned in one or more formattedBlocks. If the server cannot provide the data at the requested sample rate, it should provide what it has.  The requestor may specify a preferred format for the returned formattedBlock using the formattedBlockTemplateID parameter.  If the publisher supports this template, the data should be returned in that format; if not the publisher should still return the data, but in its preferred formattedBlockTemplate format.</wsdl:documentation>
			<wsdl:input message="tns:GetSCADAStatusesByDateRangeAndPointIDsFormattedBlockSoapIn"/>
			<wsdl:output message="tns:GetSCADAStatusesByDateRangeAndPointIDsFormattedBlockSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="InitiateControl">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sender requests that receiver take a control action on a SCADA point, as selected by theSCADAControl object. Once the action is processed, the receiver  returns that information to the sender asynchronously using a ControlActionNotification method call.</wsdl:documentation>
			<wsdl:input message="tns:InitiateControlSoapIn"/>
			<wsdl:output message="tns:InitiateControlSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="InitiateDisplayObjectHighlighting">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">One of two related systems (Requester) requests the other system (Server) to navigate its display to view a specified device and change its focus to that device.  It is anticipated that the two related systems are an outage management system and a SCADA system and that a dispatcher has one display from each system in his/her work area.  Completion of this command permits the dispatcher working on the requesting system to change the focus of the related system to the device chosen in the requesting system.Receiver returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:InitiateDisplayObjectHighlightingSoapIn"/>
			<wsdl:output message="tns:InitiateDisplayObjectHighlightingSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="InitiateSCADAAnalogReadsByPointIDs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Client requests that SCADA publish the value of SCADA analog points, as selected by the array of SCADA pointIDs.  The requested analog is returned to the client in the form of SCADAAnalog objects returned in a SCADAAnalogChangedNotification, sent to the URL specified in the responseURL and linked using the transactionID provided in this message.</wsdl:documentation>
			<wsdl:input message="tns:InitiateSCADAAnalogReadsByPointIDsSoapIn"/>
			<wsdl:output message="tns:InitiateSCADAAnalogReadsByPointIDsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="InitiateSCADAPointSubscription">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Subscriber notifies Publisher of a list of SCADAPoints to which it would like to subscribe.</wsdl:documentation>
			<wsdl:input message="tns:InitiateSCADAPointSubscriptionSoapIn"/>
			<wsdl:output message="tns:InitiateSCADAPointSubscriptionSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="InitiateSCADAStatusReadsByPointIDs">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Client requests that SCADA publish the status of SCADA points, as selected by the array of SCADA pointIDs. The requested status is returned to the client in the form of SCADAStatus objects returned in a SCADAStatusChangedNotification, sent to the URL specified in the responseURL and linked using the transactionID provided in this message.</wsdl:documentation>
			<wsdl:input message="tns:InitiateSCADAStatusReadsByPointIDsSoapIn"/>
			<wsdl:output message="tns:InitiateSCADAStatusReadsByPointIDsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="LinkAttachmentsToObjects">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sender requests that receiver link the provided attachments to objects specified by their objectRefs.Receiver returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:LinkAttachmentsToObjectsSoapIn"/>
			<wsdl:output message="tns:LinkAttachmentsToObjectsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="PingURL">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requester pings URL of Responder to determine its readiness to respond.Receiver returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:PingURLSoapIn"/>
			<wsdl:output message="tns:PingURLSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="UnlinkAttachmentsFromObjects">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sender notifies receiver that attachments, specified by attachmentID, which is the objectID of the attachment to be unlinked from the referenced object. It is up to the receiver of this method to determine, according to its business rules, whether the attachment should be deleted or retained after it is unlinked.Receiver returns information about failed transactions using the result element of the response message header.</wsdl:documentation>
			<wsdl:input message="tns:UnlinkAttachmentsFromObjectsSoapIn"/>
			<wsdl:output message="tns:UnlinkAttachmentsFromObjectsSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SCADA_ServerSoap" type="tns:SCADA_ServerSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetAllDomains">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetAllDomains" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllSCADAPoints">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetAllSCADAPoints" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAttachmentsByObjectRefs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetAttachmentsByObjectRefs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDomainNames">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetDomainNames" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDomainsByDomainNames">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetDomainsByDomainNames" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFormattedBlockTemplates">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetFormattedBlockTemplates" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLatestSCADAAnalogs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetLatestSCADAAnalogs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLatestSCADAStatuses">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetLatestSCADAStatuses" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMethods">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetMethods" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetObjectRefsByNounAndPrimaryIdentifiers">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetObjectRefsByNounAndPrimaryIdentifiers" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSCADAAnalogsByDateRangeAndPointIDs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetSCADAAnalogsByDateRangeAndPointIDs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSCADAAnalogsByDateRangeAndPointIDsFormattedBlocks">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetSCADAAnalogsByDateRangeAndPointIDsFormattedBlocks" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSCADAPointCollectionChanges">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetSCADAPointCollectionChanges" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSCADAPointsByType">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetSCADAPointsByType" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSCADAStatusesByDateRangeAndPointIDs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetSCADAStatusesByDateRangeAndPointIDs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSCADAStatusesByDateRangeAndPointIDsFormattedBlock">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/GetSCADAStatusesByDateRangeAndPointIDsFormattedBlock" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InitiateControl">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/InitiateControl" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InitiateDisplayObjectHighlighting">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/InitiateDisplayObjectHighlighting" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InitiateSCADAAnalogReadsByPointIDs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/InitiateSCADAAnalogReadsByPointIDs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InitiateSCADAPointSubscription">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/InitiateSCADAPointSubscription" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InitiateSCADAStatusReadsByPointIDs">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/InitiateSCADAStatusReadsByPointIDs" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="LinkAttachmentsToObjects">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/LinkAttachmentsToObjects" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PingURL">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/PingURL" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UnlinkAttachmentsFromObjects">
			<soap:operation soapAction="http://www.multispeak.org/Version_5.0_Release/UnlinkAttachmentsFromObjects" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakRequestMsgHeader" part="MultiSpeakRequestMsgHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:MultiSpeakResponseMsgHeader" part="MultiSpeakResponseMsgHeader" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SCADA_Server">
		<wsdl:port name="SCADA_ServerSoap" binding="tns:SCADA_ServerSoap">
			<soap:address location="http://www.msp5.0.example.org"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
