yukon-client/api/src/com/cannontech/yukon/api/schemas/loadManagement/ScenarioProgram.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"   
            xmlns:yukon="http://yukon.cannontech.com/api" 
            elementFormDefault="qualified"
            targetNamespace="http://yukon.cannontech.com/api">
            
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
      	 ESO Single Screen schema for Integration I at BG&amp;E
     	</xsd:documentation>
	</xsd:annotation>
    
	<xsd:complexType name="ScenarioProgram">
		<xsd:sequence>
			<xsd:element name="programName" type="xsd:string"/>
			<xsd:element name="startGearName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
    
</xsd:schema>
