yukon-client/api/schemas/loadManagement/ProgramStatusRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:yukon="http://yukon.cannontech.com/api" targetNamespace="http://yukon.cannontech.com/api">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
  	ESO Single Screen schema for Integration I at BG&amp;E: Item #2 from Requirements Outline
 	</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="ProgramStatusRequest">
		<xsd:sequence>
			<xsd:element name="programName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="programStatusRequest" type="yukon:ProgramStatusRequest"/>
</xsd:schema>
