yukon-client/api/schemas/loadManagement/YukonAttributes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:yukon="http://yukon.cannontech.com/api" 
            elementFormDefault="qualified"
            targetNamespace="http://yukon.cannontech.com/api">
    
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            Generic attributes for all request/response types.
        </xsd:documentation>
    </xsd:annotation>
    
    <xsd:complexType name="YukonAttributes">
        <xsd:attribute name="version" type="xsd:string" use="required" />
        <xsd:attribute name="other" type="xsd:string" />
    </xsd:complexType>
    
</xsd:schema>
