yukon-client/stars/stars.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Zhihong Yao (CTI) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="stars-PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stars-SearchByType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="AccountNumber"/>
			<xs:enumeration value="PhoneNumber"/>
			<xs:enumeration value="Name"/>
			<xs:enumeration value="Address"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stars-CtrlHistPeriod">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="PastDay"/>
			<xs:enumeration value="PastWeek"/>
			<xs:enumeration value="PastMonth"/>
			<xs:enumeration value="PastSeason"/>
			<xs:enumeration value="PastYear"/>
			<xs:enumeration value="All"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="stars-CustomerContact">
		<xs:sequence>
			<xs:element name="LastName" type="xs:string"/>
			<xs:element name="FirstName" type="xs:string"/>
			<xs:element name="HomePhone" type="xs:string"/>
			<xs:element name="WorkPhone" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="stars-CustomerAddress">
		<xs:sequence>
			<xs:element name="StreetAddr1" type="xs:string"/>
			<xs:element name="StreetAddr2" type="xs:string"/>
			<xs:element name="City" type="xs:string"/>
			<xs:element name="State">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Zip">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{5}(-[0-9]{4})?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="stars-CustAccount">
		<xs:all>
			<xs:element name="AccountNumber" type="xs:string"/>
			<xs:element name="IsCommercial" type="xs:boolean"/>
			<xs:element name="Company" type="xs:string"/>
			<xs:element name="AccountNotes" type="xs:string"/>
			<xs:element name="PropertyNumber" type="xs:string"/>
			<xs:element name="PropertyNotes" type="xs:string"/>
			<xs:element name="StreetAddress" type="stars-CustomerAddress"/>
			<xs:element ref="stars-SiteInformation"/>
			<xs:element name="BillingAddress" type="stars-CustomerAddress"/>
			<xs:element name="PrimaryContact" type="stars-CustomerContact"/>
			<xs:element name="AdditionalContact" type="stars-CustomerContact" minOccurs="0" maxOccurs="unbounded"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="stars-Inventory">
		<xs:all>
			<xs:element name="Category" type="xs:string"/>
			<xs:element name="InstallationCompany" type="xs:string"/>
			<xs:element name="ReceiveDate" type="xs:date"/>
			<xs:element name="InstallDate" type="xs:date"/>
			<xs:element name="RemoveDate" type="xs:date"/>
			<xs:element name="AltTrackingNumber" type="xs:string"/>
			<xs:element name="Voltage" type="xs:string"/>
			<xs:element name="Notes" type="xs:string"/>
		</xs:all>
		<xs:attribute name="inventoryID" type="xs:int"/>
	</xs:complexType>
	<xs:element name="stars-Operation">
		<xs:annotation>
			<xs:documentation>Root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="stars-Login"/>
				<xs:element ref="stars-Success"/>
				<xs:element ref="stars-Failure"/>
				<xs:element ref="stars-Logoff"/>
				<xs:element ref="stars-NewCustomerAccount"/>
				<xs:element ref="stars-SearchCustomerAccount"/>
				<xs:element ref="stars-CustomerAccountInformation"/>
				<xs:element ref="stars-UpdateCustomerAccount"/>
				<xs:element ref="stars-UpdateLMPrograms"/>
				<xs:element ref="stars-EnableService"/>
				<xs:element ref="stars-DisableService"/>
				<xs:element ref="stars-GetLMControlHistory"/>
				<xs:element ref="stars-LMControlHistory"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-NewCustomerAccount">
		<xs:annotation>
			<xs:documentation>Create new customer account</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="stars-CustomerAccount"/>
				<xs:element ref="stars-LMPrograms"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-LMPrograms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMProgram" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-SiteInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SubstationName" type="xs:string"/>
				<xs:element name="Feeder" type="xs:string"/>
				<xs:element name="Pole" type="xs:string"/>
				<xs:element name="TransformerSize" type="xs:string"/>
				<xs:element name="ServiceVoltage" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Substation">
		<xs:complexType>
			<xs:attribute name="substationID" type="xs:int"/>
			<xs:attribute name="substationName" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-LMProgram">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMControlHistory" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="programID" type="xs:int" use="required"/>
			<xs:attribute name="programName" type="xs:string"/>
			<xs:attribute name="groupID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-SearchCustomerAccount">
		<xs:annotation>
			<xs:documentation>Search for existing customer account</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="searchBy" type="stars-SearchByType" use="required"/>
			<xs:attribute name="searchValue" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-CustomerAccountInformation">
		<xs:annotation>
			<xs:documentation>Return information about a customer account</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-CustomerAccount"/>
				<xs:element ref="stars-LMPrograms"/>
				<xs:element ref="stars-Appliances"/>
				<xs:element ref="stars-Inventories"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-CustomerAccount" type="stars-CustAccount"/>
	<xs:element name="stars-UpdateCustomerAccount" type="stars-CustAccount">
		<xs:annotation>
			<xs:documentation>Update a customer account</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="stars-UpdateLMPrograms">
		<xs:annotation>
			<xs:documentation>Update the LM programs for a customer account</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="stars-LMProgram" minOccurs="0" maxOccurs="unbounded"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Login">
		<xs:annotation>
			<xs:documentation>Login to the STARS server</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Username" type="xs:string"/>
				<xs:element name="Password" type="xs:string"/>
				<xs:element name="DbAlias" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Logoff" type="xs:string">
		<xs:annotation>
			<xs:documentation>Logoff from the STARS server</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="stars-Success">
		<xs:annotation>
			<xs:documentation>Indicate that the requested operation is successful</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Failure">
		<xs:annotation>
			<xs:documentation>Indicate that the requested operation is failed</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Appliances">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-Appliance" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Appliance">
		<xs:complexType>
			<xs:all>
				<xs:element ref="stars-ApplianceCategory"/>
				<xs:element name="Notes" type="xs:string"/>
			</xs:all>
			<xs:attribute name="applianceID" type="xs:int"/>
			<xs:attribute name="inventoryID" type="xs:int"/>
			<xs:attribute name="lmProgramID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-Inventories">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stars-LMHardware" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-LMHardware">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="stars-Inventory">
					<xs:all>
						<xs:element name="ManufactureSerialNumber" type="xs:string"/>
						<xs:element name="LMDeviceType" type="xs:string"/>
					</xs:all>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-EnableService">
		<xs:annotation>
			<xs:documentation>Enable programs of a customer account</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SerialNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="enableDateTime" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-DisableService">
		<xs:annotation>
			<xs:documentation>Disable programs of a customer account</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SerialNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="re-enableDateTime" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-ApplianceCategory">
		<xs:complexType>
			<xs:attribute name="category" type="xs:string"/>
			<xs:attribute name="description" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-LMControlHistory">
		<xs:complexType>
			<xs:all>
				<xs:element name="ControlHistory" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="ControlType" type="xs:string"/>
							<xs:element name="StartDateTime" type="xs:dateTime"/>
							<xs:element name="ControlDuration" type="xs:int"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="ControlSummary" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element name="DailyTime" type="xs:int"/>
							<xs:element name="MonthlyTime" type="xs:int"/>
							<xs:element name="SeasonalTime" type="xs:int"/>
							<xs:element name="AnnualTime" type="xs:int"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="stars-GetLMControlHistory">
		<xs:annotation>
			<xs:documentation>Get LM control history of a LM program</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="groupID" type="xs:int" use="required"/>
			<xs:attribute name="period" type="stars-CtrlHistPeriod"/>
			<xs:attribute name="getSummary" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
